<div class="color-scheme">
    <div class="primary-colors">
        <div class="primary-5"></div>
        <div class="primary-4"></div>
        <div class="primary-3"></div>
        <div class="primary-2"></div>
        <div class="primary-1"></div>
        <div class="primary-0"></div>
    </div>
    <div class="accent-colors">
        <div class="accent-5"></div>
        <div class="accent-4"></div>
        <div class="accent-3"></div>
        <div class="accent-2"></div>
        <div class="accent-1"></div>
        <div class="accent-0"></div>
    </div>
    <div class="shadow-colors">
        <div class="shadow-5"></div>
        <div class="shadow-4"></div>
        <div class="shadow-3"></div>
        <div class="shadow-2"></div>
        <div class="shadow-1"></div>
        <div class="shadow-0"></div>
    </div>
    <div class="grey-colors">
        <div class="grey-5"></div>
        <div class="grey-4"></div>
        <div class="grey-3"></div>
        <div class="grey-2"></div>
        <div class="grey-1"></div>
        <div class="grey-0"></div>
    </div>
</div>