<div id="template">


</div>

<script type="text/javascript" src="/js/checkbox-menu.js"></script>
<script>
    new Vue({
        el: "#template",
        components: {
            'checkbox-menu'
        }
    });
</script>