@font-face {
  font-family: 'amiribold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/amiri/amiri-bold.woff2") format("woff2"), url("../fonts/amiri/amiri-bold.woff") format("woff"); }

@font-face {
  font-family: 'amiribold_slanted';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/amiri/amiri-boldslanted.woff2") format("woff2"), url("../fonts/amiri/amiri-boldslanted.woff") format("woff"); }

@font-face {
  font-family: 'amiriregular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/amiri/amiri-regular.woff2") format("woff2"), url("../fonts/amiri/amiri-regular.woff") format("woff"); }

@font-face {
  font-family: 'amirislanted';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/amiri/amiri-slanted.woff2") format("woff2"), url("../fonts/amiri/amiri-slanted.woff") format("woff"); }

@font-face {
  font-family: 'cabinbold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-bold-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabinbold_italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-bolditalic-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-bolditalic-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabinitalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-italic-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-italic-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabincabin_medium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-medium-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-medium-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabincabin_medium_italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-mediumitalic-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabinregular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-regular-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabincabin_semibold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-semibold-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-semibold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'cabincabin_semibold_italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cabin/cabin-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/cabin/cabin-semibolditalic-webfont.woff") format("woff"); }

/*@font-face {
    font-family: 'league_spartanregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/league_spartan/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../fonts/league_spartan/leaguespartan-bold-webfont.woff') format('woff');
}*/
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/league_spartan/leaguespartan-bold.eot"), url("../fonts/league_spartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/league_spartan/leaguespartan-bold.woff2") format("woff2"), url("../fonts/league_spartan/leaguespartan-bold.woff") format("woff"), url("../fonts/league_spartan/leaguespartan-bold.ttf") format("truetype"), url("../fonts/league_spartan/leaguespartan-bold.svg#league_spartanbold") format("svg"); }

@font-face {
  font-family: 'source_sans_probold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/source_sans_pro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/source_sans_pro/sourcesanspro-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'source_sans_probold_italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/source_sans_pro/sourcesanspro-bolditalic-webfont.woff2") format("woff2"), url("../fonts/source_sans_pro/sourcesanspro-bolditalic-webfont.woff") format("woff"); }

@font-face {
  font-family: 'source_sans_proitalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/source_sans_pro/sourcesanspro-italic-webfont.woff2") format("woff2"), url("../fonts/source_sans_pro/sourcesanspro-italic-webfont.woff") format("woff"); }

@font-face {
  font-family: 'source_sans_proregular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff") format("woff"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: "source_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5; }

.button {
  height: 50px;
  transition: border-width, background, filter .2s;
  border-width: 0 0 3px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: middle; }
  .button:hover {
    transition-duration: .1s;
    border-bottom: 6px solid; }
  .button:active {
    transition-duration: 0s;
    border-bottom: 4px solid; }
  .button:focus {
    outline: none; }

.button {
  display: inline-block;
  width: 200px;
  border-color: #797e84;
  background: #94989c; }
  .button:active {
    background: #94989c; }

.-color-primary {
  border-color: #247c66;
  background: #3fc7a6; }
  .-color-primary:active {
    background: #30a387; }

.-width-full {
  display: block;
  width: 100%; }

.text-input {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: 0; }
  .text-input__input {
    width: 100%;
    padding: 10px 2px;
    border: 0; }
    .text-input__input:focus + .text-input__border {
      border-width: 3px 0px 3px 0px;
      border-radius: 4px;
      border-color: #3fc7a6; }
  .text-input__border {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    transition-duration: .1s;
    transition-property: border-width, border-color, border-radius;
    transition-timing-function: ease-in-out;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-radius: 3px;
    border-color: #797e84;
    content: "";
    z-index: 1; }

.checkbox {
  width: 100%;
  line-height: 0; }

.checkbox .checkbox__input {
  display: none; }
  .checkbox .checkbox__input:checked + .checkbox__label::before {
    opacity: 1; }
  .checkbox .checkbox__input:disabled + .checkbox__label {
    opacity: 0.3; }

.checkbox .checkbox__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: top; }
  .checkbox .checkbox__label::before, .checkbox .checkbox__label::after {
    display: inline-block;
    position: absolute;
    padding: 0;
    vertical-align: middle; }
  .checkbox .checkbox__label::before {
    top: 0;
    left: 0;
    transition: 0.15s opacity ease-in-out;
    color: #30a387;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.81);
    content: "\2713";
    opacity: 0;
    z-index: 1; }
  .checkbox .checkbox__label::after {
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #616569;
    box-shadow: inset 0 0 8px -1px rgba(0, 0, 0, 0.6);
    content: "\00a0";
    z-index: 0; }

.checkbox .checkbox__label {
  width: 20px;
  height: 20px;
  font-size: 0.85rem;
  line-height: 1.25rem; }
  .checkbox .checkbox__label::before, .checkbox .checkbox__label::after {
    width: 20px;
    height: 20px; }
  .checkbox .checkbox__label::before {
    font-size: 1.25rem; }

.checkbox-size-small .checkbox__label {
  width: 10px;
  height: 10px;
  font-size: 0.425rem;
  line-height: 0.625rem; }
  .checkbox-size-small .checkbox__label::before, .checkbox-size-small .checkbox__label::after {
    width: 10px;
    height: 10px; }
  .checkbox-size-small .checkbox__label::before {
    font-size: 0.625rem; }

.checkbox-size-large .checkbox__label {
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  line-height: 2.5rem; }
  .checkbox-size-large .checkbox__label::before, .checkbox-size-large .checkbox__label::after {
    width: 40px;
    height: 40px; }
  .checkbox-size-large .checkbox__label::before {
    font-size: 2.5rem; }

.primary-colors {
  flex-grow: 2; }
  .primary-colors .primary-0 {
    width: 100%;
    height: 80px;
    background-color: #247c66; }
  .primary-colors .primary-1 {
    width: 100%;
    height: 80px;
    background-color: #30a387; }
  .primary-colors .primary-2 {
    width: 100%;
    height: 80px;
    background-color: #3fc7a6; }
  .primary-colors .primary-3 {
    width: 100%;
    height: 80px;
    background-color: #67d2b8; }
  .primary-colors .primary-4 {
    width: 100%;
    height: 80px;
    background-color: #8edeca; }
  .primary-colors .primary-5 {
    width: 100%;
    height: 80px;
    background-color: #b6e9dd; }

.accent-colors {
  flex-grow: 2; }
  .accent-colors .accent-0 {
    width: 100%;
    height: 80px;
    background-color: #3a1831; }
  .accent-colors .accent-1 {
    width: 100%;
    height: 80px;
    background-color: #5e274f; }
  .accent-colors .accent-2 {
    width: 100%;
    height: 80px;
    background-color: #82366d; }
  .accent-colors .accent-3 {
    width: 100%;
    height: 80px;
    background-color: #a6458c; }
  .accent-colors .accent-4 {
    width: 100%;
    height: 80px;
    background-color: #bd61a4; }
  .accent-colors .accent-5 {
    width: 100%;
    height: 80px;
    background-color: #cc85b9; }

.grey-colors {
  flex-grow: 2; }
  .grey-colors .grey-0 {
    width: 100%;
    height: 80px;
    background-color: #616569; }
  .grey-colors .grey-1 {
    width: 100%;
    height: 80px;
    background-color: #797e84; }
  .grey-colors .grey-2 {
    width: 100%;
    height: 80px;
    background-color: #94989c; }
  .grey-colors .grey-3 {
    width: 100%;
    height: 80px;
    background-color: #aeb1b5; }
  .grey-colors .grey-4 {
    width: 100%;
    height: 80px;
    background-color: #c9cbcd; }
  .grey-colors .grey-5 {
    width: 100%;
    height: 80px;
    background-color: #e3e4e6; }

.shadow-colors {
  flex-grow: 2; }
  .shadow-colors .shadow-0 {
    width: 100%;
    height: 80px;
    background-color: #373737; }
  .shadow-colors .shadow-1 {
    width: 100%;
    height: 80px;
    background-color: #505050; }
  .shadow-colors .shadow-2 {
    width: 100%;
    height: 80px;
    background-color: #6a6a6a; }
  .shadow-colors .shadow-3 {
    width: 100%;
    height: 80px;
    background-color: #838383; }
  .shadow-colors .shadow-4 {
    width: 100%;
    height: 80px;
    background-color: #9d9d9d; }
  .shadow-colors .shadow-5 {
    width: 100%;
    height: 80px;
    background-color: #b6b6b6; }

.color-scheme {
  display: flex;
  width: 50%;
  height: 480px;
  margin: 0 auto; }

.typography-paragraph, .typography-meta, .typography-sub-paragraph {
  font-family: "source_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.typography-paragraph--italic, .typography-meta--italic, .typography-sub-paragraph--italic {
  font-family: "source_sans_proitalic", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.typography-h2, .typography-h3, .typography-h4, .typography-h5, .typography-h6 {
  font-family: "cabinbold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.typography-h1 {
  font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 3.05125rem;
  letter-spacing: -0.3px; }

.typography-h2 {
  font-size: 3.05125rem;
  letter-spacing: -1.7px; }

.typography-h3 {
  font-size: 2.44125rem;
  letter-spacing: -1.4px; }

.typography-h4 {
  font-size: 1.95375rem;
  letter-spacing: -1px; }

.typography-h5 {
  font-size: 1.5625rem;
  letter-spacing: -0.75px; }

.typography-h6 {
  font-size: 1.25rem;
  letter-spacing: -0.5px; }

.typography-paragraph {
  font-size: 1rem;
  letter-spacing: 0; }
  .typography-paragraph--italic {
    font-size: 1rem;
    letter-spacing: 0; }

.typography-meta {
  font-size: 0.8rem;
  letter-spacing: -0.2px; }
  .typography-meta--italic {
    font-size: 0.8rem;
    letter-spacing: -0.2px; }

.typography-sub-paragraph {
  font-size: 0.625rem;
  letter-spacing: -0.2px; }
  .typography-sub-paragraph--italic {
    font-size: 0.625rem;
    letter-spacing: -0.2px; }

.typography-legal {
  font-family: "amiriregular", "Times New Roman", serif;
  font-size: 0.5125rem;
  letter-spacing: -0.2px; }
  .typography-legal--italic {
    font-family: "amirislanted", "Times New Roman", serif;
    font-size: 0.5125rem;
    letter-spacing: -0.2px; }

.radio {
  color: #AAAAAA;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #111111; }
  .radio__input {
    position: absolute;
    visibility: hidden;
    display: none; }
    .radio__input:checked ~ .radio__fill {
      border: 5px solid #0DFF92; }
      .radio__input:checked ~ .radio__fill::before {
        background: #0DFF92; }
    .radio__input:checked ~ label {
      color: #0DFF92; }
  .radio__label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear; }
  .radio__fill {
    display: block;
    position: relative;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear; }
    .radio__fill::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 15px;
      width: 15px;
      top: 5px;
      left: 5px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; }
  .radio:hover .radio__label {
    color: #797e84; }
  .radio:hover .radio__fill {
    border: 5px solid #797e84; }

/*@import 'molecules/index';*/
/*@import 'organisms/index';*/
/*@import 'templates/index';*/
/*@import 'states/index';*/
/*@import 'pages/index';*/
/*@import 'states/print';*/
/*@import 'shame';*/
