<a href="?p=viewall-atoms-forms" type="button" class="button button_color-accent button_size-small">
    <span class="button__text">Submit</span>
</a>
&nbsp;
<button type="button" class="button button_color-primary">
    <span class="button__text">Submit</span>
</button>
&nbsp;

<button type="button" class="button button_size-large">
    <span class="button__text">Submit</span>
</button>