<button class="button button_size-small button_color-accent">
    <span class="button__text">{{key}}</span>
</button>

<button class="button button_color-primary">
    <span class="button__text">{{key}}</span>
</button>

<button class="button button_size-large">
    <span class="button__text">{{key}}</span>
</button>