<a href="?p=viewall-atoms-forms" class="button button_size-large button_color-accent">
    <span class="button__text">Submit</span>
</a>

<button class="button button_color-primary">
    <span class="button__text">Submit</span>
</button>

<button class="button button_size-large">
    <span class="button__text">Submit</span>
</button>