<form id="checkbox">
    <pe-checkbox 
        :label='checkbox.label'
        :id='checkbox.ID'
        :modifier-styles="modifierStyles"
        v-model.lazy="checked">
    </pe-checkbox>    
    \{{checked}}    
</form>

<script>
var checkbox = {{{json checkbox}}};

requirejs(['vue', 'atoms/Checkbox/Checkbox'], function (Vue, Checkbox) {
    new Vue({
        el:"#checkbox",
        data: function () {
            return {
                checkbox: checkbox,
                checked: []
            }
        },
        components: {
            'pe-checkbox': Checkbox.default
        },
        computed: {
            modifierStyles: function () {
                var store = [];
                for (var prop in checkbox.modifierClasses) {
                    if (checkbox.modifierClasses[prop] == true) {
                        store.push(prop);
                    }                    
                }
                return store; 
            }
        }
    });
    // Vue.component('pe-checkbox-menu', CheckboxMenu.default);
});
</script>