<form id="input">
    <pe-input
        :modifier-styles="modifierStyles"
        :placeholder="input.placeHolder"
        v-model="Value"
    >
    </pe-input>
</form>

<script>
    var input = {{{json textInput}}};
    requirejs(['vue', 'atoms/Input'], function (Vue, Input) {
        new Vue({
            el: '#input',
            data: function () {
                return {
                    input: input,
                    Value: ""
                }
            },
            components: {
                'pe-input': Input.default
            },
            computed: {
                modifierStyles () {
                    var store = [];
                    for (var prop in input.class) {
                        if (input.class[prop] == true) {
                            store.push(prop);
                        }                        
                    } 
                    return store;
                }
            }
        });
    });
</script>