<div id="radio">
    <pe-radio 
        :label='radio.label'
        :id='radio.ID'
        :modifier-styles='modifierStyles'
        v-model="selected"
        >
    </pe-radio>
    SELECTED VALUE: \{{selected}}
</div>

<script>
var radio = {{{json radio}}};

requirejs(['vue', 'atoms/Radio/Radio'], function (Vue, Radio) {
    new Vue({
        el: "#radio",
        data: function () {
            return {
                selected: null, 
                radio: radio
            }
        },
        components: {
            'pe-radio': Radio.default
        }, 
        computed: {
            modifierStyles: function () {
                var store = [];
                for (var prop in radio.modifierClasses) {
                    if (radio.modifierClasses[prop] == true) {
                        store.push(prop);
                    }                    
                }
                return store; 
            }            
        }
    });
});
</script>