<form id="select-box">
    <pe-select
        v-model="selected"
        :placeholdertext='selectBox.placeHolder'
        :options='selectBox.options'
        :classes='selectBox.class'
        >
    </pe-select>
    \{{selected}}
</form>

<script>    

const selectBox = {{{json selectBox}}};

requirejs(['vue', 'atoms/Select'], function (Vue, Select) {

    new Vue({
        el: '#select-box',
        data: function () {
            return {
                selectBox: selectBox,
                selected: []
            }
        },
        components: {
            'pe-select': Select.default
        }
    });

});
/*
TODO:  
- Provide label and focus styles 
- Provide bindings to keyboard events 
*/
</script>

