<form id="select-box">
    <pe-select
        v-model="selected"
        :placeholder='selectBox.placeHolder'
        :options='selectBox.options'
        :modifier-styles='modifierStyles'
        >
    </pe-select>
    \{{selected}}
</form>

<script>    

const selectBox = {{{json selectBox}}};

requirejs(['vue', 'atoms/Select'], function (Vue, Select) {

    new Vue({
        el: '#select-box',
        data: function () {
            return {
                selectBox: selectBox,
                selected: []
            }
        },
        components: {
            'pe-select': Select.default
        },
        computed: {
            modifierStyles: function () {
                var store = [];
                for (var prop in selectBox.class) {
                    if (selectBox.class[prop] == true) {
                        store.push(prop);
                    }
                }
                return store;
            }
        }
    });

});
/*
TODO:  
- Provide label and focus styles 
- Provide bindings to keyboard events 
*/
</script>

