<form id="text-area" style="height: 300px;" class="dark-background">
    <pe-text-area
    :classes="textArea.class"
    v-model="Value"
    >
    </pe-text-area>
    <!--\{{Value}}-->
</form>

<script>
    var textArea = {{{json textArea}}};
    requirejs(['vue', 'atoms/TextArea'], function (Vue, TextArea) {
        new Vue({
            el: '#text-area',
            data: function () {
                return {
                    textArea: textArea,
                    Value: ""
                }
            },
            components: {
                'pe-text-area': TextArea.default
            }
        });
    });
</script>