<form id="text-area" style="height: 300px;" class="dark-background">
    <pe-text-area
    :modifier-styles="modifierStyles"
    v-model="Value"
    >
    </pe-text-area>
</form>

<script>
    var textArea = {{{json textArea}}};
    requirejs(['vue', 'atoms/TextArea'], function (Vue, TextArea) {
        new Vue({
            el: '#text-area',
            data: function () {
                return {
                    textArea: textArea,
                    Value: ""
                }
            },
            components: {
                'pe-text-area': TextArea.default
            },
            computed: {
                modifierStyles () {
                    var store = [];
                    for (var prop in textArea.class) {
                        if (textArea.class[prop] == true) {
                            store.push(prop);
                        }
                    }
                    return store;
                }
            }
        });
    });
</script>