%nav-item {
    // display: block;    
    position: relative;
    height: 60px;
    padding: 0 1em; 
    // float: left;
    color: $pe-color-white;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;

    /*&:hover {
        color: nth($pe-primary-color-list, 3);
    }*/
}

@mixin left-and-right-border (
    $color-right: #d0d0d0,
    $color-left: #6a6a6a
) {
    border-right: 1px solid $color-right;
    border-left: 1px solid $color-left;
}

@mixin opposite-left-and-right-border () {
    border-right: 1px solid #6a6a6a;
    border-left: 1px solid #d0d0d0;
}

@mixin top-and-bottom-border () {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #6a6a6a;
}

@mixin dropdown-icon-style () {
    @include pe-font-sizing-sub-paragraph();
    position: absolute;
    right: 10%;            
    height: 100%;
    // font-size: 16px;                
    line-height: 60px;
}

@mixin dropdown-text-style () {
    display: block;
    width: 90%;            
    height: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

@mixin nav-item-hover-style (
    $border-color-right: nth($pe-primary-color-list, 5),
    $border-color-left: nth($pe-primary-color-list, 2),
    $background-color: nth($pe-primary-color-list, 3),
    $text-color: $pe-color-white
) {    
    @include left-and-right-border();

    &:hover, 
    &.active {
        @include left-and-right-border(
            $color-right: $border-color-right,
            $color-left: $border-color-left
        );        
        background-color: $background-color;
        color: $text-color;
    }
}

@include with-layout($susy, true) {
    .navbar {
        @include pe-font-family-forms();
        width: 100%;
        height: 60px;
        background-color: #9d9d9d;
        box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);        

        &__container {
            @include opposite-left-and-right-border();
            @include container(map_get($pe-container-max-widths, xl));
            height: 60px;
            border-left: 0;

            &::after {
                clear: both;
            }
        }

        &__brand {
            @extend %nav-item;
            @include left-and-right-border();
            @include span(4 at 0 of 12);        
            // width: 35%;
            border-left: 0;
            text-decoration: none;

            &-image {
                display: block;
                width: 100px;
                background-color: transparent;
            }
        }

        &__search {
            @extend %nav-item;
            // @include left-and-right-border();
            @include nav-item-hover-style();
            @include span(5 of 12);
            padding-top: 5px;
        }

        &__notifications {
            @extend %nav-item;
            @include nav-item-hover-style();
            @include span(1 of 12);

            &::before {
                @include dropdown-icon-style();
                right: span(3);
            }

            span {            
                @include pe-font-sizing-h5();
                @include dropdown-text-style();
            }

        }

        &__menu {
            // Contains auth-links and username
            @extend %nav-item;
            @include span(2 of 12);
            // width: 20%;
            padding: 0;
        }

        &__menu-button {
            @extend %nav-item;
            display: none;
        }

        &__auth-link {
            @extend %nav-item;
            @include nav-item-hover-style();  
            @include span(6 of 12);
            // width: 50%;        
        }

        &__username {
            @extend %nav-item;
            @include nav-item-hover-style();
            @include span(12);

            label {
                @include dropdown-text-style();
            }

            &::before {
                @include dropdown-icon-style();
            }

            .usermenu-toggle {
                display: none;

                &:checked + .navbar__user-dropdown {
                    display: block;
                } 
            }            
        }

        &__user-dropdown {
            display: none;
            position: absolute;
            top: 70px;
            // left: -50%;
            left: -(span(6));            
            // width: 150%;
            width: span(18);                
            // border-bottom: 3px  
            border-radius: 8px;
            background: #AEB1B4;        
            box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);
            z-index: 2000;

            li {
                @include top-and-bottom-border();
                @include span(12 of 12);                
                height: 60px;
                font-size: 16px;
                font-weight: 700;   
                line-height: 60px;
                text-align: center;

                &:hover {
                    color: nth($pe-primary-color-list, 3);                
                    cursor: pointer;
                }

                &:nth-child(1) {
                    border-top: 0;
                }

                &:nth-child(4) {
                    border-bottom: 0;
                }            
            }        
        }
    }
}




.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

