// ==========================================================================
// DROPDOWN STYLES
// ==========================================================================
// sass-lint:disable no-empty-rulesets

// BEVM STRUCTURE: Dropdown 
// Block: dropdown
// Elements: 
//   __label, __brand, __brand-image
//   __toggle
//   __menu, __menu-header, __menu-list, __menu-footer 
//    

// PSEUDO CLASSES 
// ==========================================================================
%dropdown {
    position: relative;
    width: 100%;
    height: 100%;
}

%dropdown__before-icon {    
    display: block;    
    width: 100%;                
    height: 100%;
}

%dropdown__label {
    display: block;                
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;    
    cursor: pointer;
    overflow: hidden;
    z-index: 1;    
}

%dropdown__menu {
    position: absolute;
    width: 100%;
    box-shadow: 0 1px 3px 0 transparentize($pe-color-black, 0.8);  
    z-index: 2;

    .dropdown__menu-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &[x-placement^="top"],
    &[x-placement^="bottom"] {
        .dropdown__menu-arrow {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"],
    &[x-placement^="left"] {
        .dropdown__menu-arrow {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

%dropdown__menu-list {
    height: auto;
    overflow-y: auto;
}

%dropdown__menu-item {
    > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0 span(1);
        text-align: left;
        text-decoration: none;
        cursor: pointer;
    } 
}

%dropdown__menu-header,
%dropdown__menu-footer {
    display: block;
    position: relative;
    text-align: center;        
    text-decoration: none;        
    z-index: 2;
}


// MIXINS
// ==========================================================================
@mixin dropdown-menu-arrow-color($arrow-color: nth($pe-greyscale-color-list, 3)) {
    &[x-placement^="top"] {
        .dropdown__menu-arrow {
            border-color: $arrow-color transparent transparent transparent;
        }
    }

    &[x-placement^="bottom"] {
        .dropdown__menu-arrow {
            border-color: transparent transparent $arrow-color transparent;
        }
    }

    &[x-placement^="right"] {
        .dropdown__menu-arrow {
            border-color: transparent $arrow-color transparent transparent;
        }
    }

    &[x-placement^="left"] {
        .dropdown__menu-arrow {
            border-color: transparent transparent transparent $arrow-color;
        }
    }
}

@mixin dropdown-menu-arrow-size($size: 15px) {
    .dropdown__menu-arrow {
        margin: $size;
    }

    &[x-placement^="top"] {
        margin-bottom: $size;

        .dropdown__menu-arrow {
            bottom: -$size;
            left: calc(50% - $size);
            border-width: $size $size 0 $size;            
        }
    }

    &[x-placement^="bottom"] {
        margin-top: $size;

        .dropdown__menu-arrow {
            top: $size;
            left: calc(50% - $size);
            border-width: 0 $size $size $size;
        }
    }

    &[x-placement^="right"] {
        margin-left: $size;

        .dropdown__menu-arrow {
            top: calc(50% - $size);
            left: -$size;
            border-width: $size $size $size 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: $size;

        .dropdown__menu-arrow {
            top: calc(50% - $size);
            right: -$size;
            border-width: $size 0 $size $size;
        }
    }
}

// MAIN CLASS 
// ==========================================================================
.dropdown {
    @extend %dropdown;

    &::before {            
        @extend %dropdown__before-icon;
    }

    &__label {
        @extend %dropdown__label;
    }

    &__menu {        
        @extend %dropdown__menu;
        @include dropdown-menu-arrow-color();
        @include dropdown-menu-arrow-size();

        &-list {
            @extend %dropdown__menu-list;
        }    

        &-item {
            @extend %dropdown__menu-item;                                         
        } 

        &-header {
            @extend %dropdown__menu-header;              
        }

        &-footer {
            @extend %dropdown__menu-footer;    
        }
    }
}

// VARIATION MIXINS
// ==========================================================================
@mixin navbar-dropdown-item-hover (
    $border-color-top: nth($pe-greyscale-color-list, 4),
    $border-color-top-hover: nth($pe-primary-color-list, 4),
    $border-color-bottom: nth($pe-greyscale-color-list, 2),
    $border-color-bottom-hover: nth($pe-primary-color-list, 2),
    $background-color: nth($pe-greyscale-color-list, 3),
    $background-color-hover: nth($pe-primary-color-list, 3),
    $text-color: $pe-color-white
) {    
    @include pe-top-and-bottom-border(
        $color-top: $border-color-top,
        $color-bottom: $border-color-bottom
    ); 

    background-color: $background-color;
    color: $text-color;

    &:hover, 
    &.active {
        @include pe-top-and-bottom-border(
            $color-top: $border-color-top-hover,
            $color-bottom: $border-color-bottom-hover
        );        
        background-color: $background-color-hover;
        color: $text-color;
    }
}


// VARIATION CLASSES 
// ==========================================================================
.dropdown--navbar {
    @extend %dropdown;

    &::before {
        @extend %dropdown__before-icon;            
        @include pe-font-sizing-h3();
        line-height: 60px;
    }

    .dropdown__label {
        @extend %dropdown__label;
    }

    .dropdown__menu {
        @extend %dropdown__menu;
        @include dropdown-menu-arrow-color();
        @include dropdown-menu-arrow-size();
        border-width: 0 0 2px 0;
        border-style: solid;
        border-radius: 6px;
        border-color: nth($pe-accent-color-list, 2);
        background: nth($pe-accent-color-list, 2);        
        

        &-list {
            @extend %dropdown__menu-list;
            max-height: 200px;            
            background-color: nth($pe-greyscale-color-list, 3);
        }    

        &-item {
            @extend %dropdown__menu-item;
            @include navbar-dropdown-item-hover();
            @include span(12 of 12);                                

            &:nth-child(1) {
                // border-top: 0;
            }

            > a {
                color: $pe-color-white;           
                line-height: 60px;
            }          
        } 

        &-header {
            @extend %dropdown__menu-header;
            @include navbar-dropdown-item-hover(
                $border-color-top: $pe-color-transparent,
                $border-color-top-hover: $pe-color-transparent,
                $border-color-bottom: nth($pe-greyscale-color-list, 1),
                $border-color-bottom-hover: nth($pe-greyscale-color-list, 1),
                $background-color: nth($pe-greyscale-color-list, 4),
                $background-color-hover: nth($pe-greyscale-color-list, 4),
                $text-color: $pe-color-white
            );
            @include pe-font-sizing-h7();
            height: 40px;
            border-top: 0;        
            border-radius: 6px 6px 0 0;
            line-height: 40px;
            box-shadow: 0 1px 2px -1px transparentize(nth($pe-greyscale-color-list, 1), 0.5);

            &:hover {
                border-top: 0;
            }              
        }

        &-footer {
            @extend %dropdown__menu-footer;
            @include navbar-dropdown-item-hover(
                $border-color-top: nth($pe-accent-color-list, 6),
                $border-color-top-hover: nth($pe-accent-color-list, 6),
                $border-color-bottom: nth($pe-accent-color-list, 3),
                $border-color-bottom-hover: nth($pe-accent-color-list, 3),
                $background-color: nth($pe-accent-color-list, 4),
                $background-color-hover: nth($pe-accent-color-list, 4),
                $text-color: $pe-color-white
            );
            @include pe-font-sizing-h6();                        
            border-radius: 0 0 6px 6px;        
            text-decoration: none;    
        }
    }
}















