// ==========================================================================
// MOBILE-NAV STYLES
// ==========================================================================
// sass-lint:disable no-empty-rulesets

// PSEUDO CLASSES 
// ==========================================================================
%sidebar-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 span(1);
    color: $pe-color-white;           
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

// MIXINS
// ==========================================================================

// MAIN CLASSES & RESPONSIVE STYLES 
// ==========================================================================
@include with-layout($susy, true) {
    // XS Screen (DONE) - Base styles  
    .mobile-nav {
        @include pe-transition(all);
        @include pe-font-family-forms();        
        display: block;
        position: relative;
        right: 0;
        padding-left: 0; 

        &__button {
            @include span(3 of 12 at 9);
            @include pe-transition(all);
            display: block; 
            position: absolute;
            top: 0;
            right: 0;             
            height: 60px;
            background-color: $pe-color-transparent;
            color: nth($pe-greyscale-color-list, 5);
            font-size: 30px; 
            cursor: pointer;
            z-index: 10;

            &:hover,
            &:focus {
                color: $pe-color-white;
            }

            > span {
                display: block;
                position: relative;
                width: 100%;                
                height: 100%;
                background-color: $pe-color-transparent;
                line-height: 60px;
                text-align: center;
            }
        }

        &__sidebar { 
            @include pe-transition(all);           
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 150px;
            transform: translateX(150px); 
            background-color: nth($pe-greyscale-color-list, 3);
            z-index: 1000; 
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        &__menu {
            border: none;
            background: transparent;

            &-heading {
                @extend %sidebar-link;
                position: relative;
                border-bottom: 3px solid $pe-color-alt-grey;
                background-color: nth($pe-primary-color-list, 3);
                text-overflow: ellipsis; 
                white-space: nowrap;
                box-shadow: 0 1px 2px -1px transparentize(nth($pe-greyscale-color-list, 1), 0.5);
                overflow: hidden;                
                z-index: 2;
            }

            &-list {
                border: none;
                background: transparent;
            }

            &-item {
                @include dropdown-item-hover-style();
                @include span(12 of 12);
                height: 60px;                                

                &:nth-child(1) {
                    border-top: 0;
                }

                .is-selected {
                    background: #1f8dd6;
                }
            }

            &-link {
                @extend %sidebar-link;
            }
        }

        &.is-open {
            position: relative;

            .mobile-nav__button {
                transform: translateX(-150px);
            }

            .mobile-nav__sidebar {
                width: 150px;
                transform: translateX(0);
            }
        }
    }

    // Medium Screen (DONE)
    @include breakpoint(map-get($pe-grid-breakpoints, md)) {
        .mobile-nav {
            &__button {
                @include span(1 of 12 at 11);
            }

            &__sidebar {
                a {}
            }

            &__menu {

                &-heading {}

                &-list {}

                &-item {
                    .is-selected {}
                }

                &-link {}
            }

            &.is-open {}
        }
    }

    // Large Screen (Most Desktop styles here - 992px )
    @include breakpoint(map-get($pe-grid-breakpoints, lg)) {
        .mobile-nav {
            display: none;

            &__button {

                &:hover,
                &:focus {
                    
                }

                > span {
                    &::before, 
                    &::after {

                    } 
                    &::after {}
                }

            }

            &__sidebar {
                a {}
            }

            &__menu {

                &-heading {}

                &-list {}

                &-item {            
                    &:hover,
                    &:focus {}

                    .is-selected {}
                }

                &-link {}
            }

            &.is-open {
                .mobile-nav__button {}

                .mobile-nav__sidebar {}
            }
        }
    }

    // X-Large Screen 
    @include breakpoint(map-get($pe-grid-breakpoints, xl)) {
        .mobile-nav {

            &__button {

                &:hover,
                &:focus {

                }

                > span {
                    &::before, 
                    &::after {

                    } 
                    &::after {}
                }

            }

            &__sidebar {
                a {}
            }

            &__menu {

                &-heading {}

                &-list {}

                &-item {            
                    &:hover,
                    &:focus {}

                    .is-selected {}
                }

                &-link {}
            }

            &.is-open {
                .mobile-nav__button {}

                .mobile-nav__sidebar {}
            }
        }
    }
}