// ==========================================================================
// NAVBAR STYLES
// ==========================================================================
// sass-lint:disable no-empty-rulesets

// BEVM STRUCTURE: Navbar 
// Block: navbar
// Elements: 
//   __container, __brand, __brand-image
//   __search, autocomplete
//   __notifications, __notifications-dropdown, __notifications-list
//   __menu, __username 
//   __user-dropdown, __user-dropdown-list 

// PSEUDO CLASSES 
// ==========================================================================
// N/A

// MIXINS
// ==========================================================================
@mixin nav-item {
    display: block;    
    position: relative;
    height: 60px;
    padding: 0 1em; 
    color: $pe-color-white;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
}

@mixin nav-item-hover-style (
    $border-color-right: nth($pe-primary-color-list, 5),
    $border-color-left: nth($pe-primary-color-list, 2),
    $background-color: nth($pe-primary-color-list, 3),
    $text-color: $pe-color-white
) {    
    @include pe-left-and-right-border();

    &:hover, 
    &.active {
        @include pe-left-and-right-border(
            $color-right: $border-color-right,
            $color-left: $border-color-left
        );        
        background-color: $background-color;
        color: $text-color;
    }
}



// MAIN CLASSES & RESPONSIVE STYLES 
// ==========================================================================
@include with-layout($susy, true) {
    // XS Screen (DONE) 
    .navbar {
        @include pe-font-family-forms();
        width: 100%;
        height: 60px;
        background-color: nth($pe-greyscale-color-list, 3);
        box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);        

        &__container {
            @include container(map_get($pe-container-max-widths, lg));
            @include pe-left-and-right-border($color-left: #d0d0d0);
            height: 60px;

            &::after {
                clear: both;
            }
        }

        &__brand {
            @include nav-item();
            @include pe-left-and-right-border($color-left: #d0d0d0);
            @include span(6 at 0 of 12);        
            padding-top: 2px;
            text-decoration: none;

            &-image {
                display: block;
                width: 100px;
                background-color: transparent;
            }
        }

        &__search {
            display: none;
        }

        &__notifications, 
        &__username {
            &.dropdown--navbar {
                @include nav-item();
                @include nav-item-hover-style();

                .dropdown__menu-header > a, 
                .dropdown__menu-footer > a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: $pe-color-white;
                    text-decoration: none;
                }
            }
        }

        &__notifications {
            &.dropdown--navbar {
                @include span(3 of 12);            

                &::before {
                    @include pe-font-sizing-h3();
                    height: 60px;
                    line-height: 60px;
                }

                .dropdown__menu {
                    top: 70px;                
                    right: -(span(12));            
                    width: auto;
                    min-width: 230px;
                    z-index: 1500; 
                } 
            }
        }

        &__menu {
            // Contains auth-links and username
            @include nav-item();
            @include span(3 of 12);
            // width: 20%;
            padding: 0;
        }

        &__auth-link {
            @include nav-item();
            @include nav-item-hover-style();  
            @include span(3 of 12);
            // width: 50%;        
        }

        // __username --> .dropdown  
        &__username {
            &.dropdown--navbar {
                @include span(12);

                &::before {
                    display: none;
                }

                .dropdown__label {
                    display: none;
                }

                .dropdown__menu { 
                    display: none; 

                    &-list {} 

                    &-item {}
                } 
            }
        }
    }

    // Medium Screen (DONE)
    @include breakpoint(map-get($pe-grid-breakpoints, md)) {
        .navbar {
            @include pe-font-family-forms();        

            &__container {
                @include container(map_get($pe-container-max-widths, xl));
            }

            &__brand {
                @include span(4 at 0 of 12);        

                &-image {               
                }
            }

            &__search {
                @include nav-item();                
                @include nav-item-hover-style();
                @include span(6 of 12);
                padding-top: 5px;
            }

            &__notifications {
                &.dropdown--navbar {
                    @include span(1 of 12);            

                    &::before {
                    }

                    .dropdown__label {
                    }

                    .dropdown__menu {                
                        width: 500px;

                        &-list {
                            max-height: 300px;
                        } 

                        &-item {

                        }
                    } 
                }
            }

            &__menu {
                // Contains auth-links and username
                @include span(1 of 12);
                padding: 0;
            }

            &__auth-link {  
                @include span(1 of 12);        
            }

            // __username --> .dropdown
            &__username {                         
            }
        }
    }

    // Large Screen (Most Desktop styles here)
    @include breakpoint(map-get($pe-grid-breakpoints, lg)) {
        .navbar {      
            
            &__container {                
                @include container(map_get($pe-container-max-widths, xl));
                @include pe-opposite-left-and-right-border();
                border-left: 0;

                &::after {
                    clear: both;
                }
            }

            &__brand {                
                border-left: 0;

                &-image {
                    // override styles here
                }
            }

            &__search {
                // override styles here
                @include span(5 of 12);
            }

            &__notifications {
                &.dropdown--navbar {
                }
            }

            &__menu {
                // Contains auth-links and username
                @include nav-item();
                @include span(2 of 12);
                // width: 20%;
                padding: 0;
            }

            &__auth-link {
                @include nav-item();
                @include nav-item-hover-style();  
                @include span(6 of 12);
                // width: 50%;        
            }

            // __username --> .dropdown
            &__username {
                &.dropdown--navbar {
                    &::before {
                        display: block;
                        position: absolute;
                        right: span(1);
                        width: span(1);
                        font-size: rem(12px);
                    }

                    .dropdown__label {
                        display: block;
                        left: span(1);
                        width: span(9);
                    }

                    .dropdown__menu {
                        display: block;  
                        top: 70px;
                        // left: -50%;
                        left: -(span(6));            
                        // width: 150%;
                        width: span(18);
                        z-index: 2000;
               
                        &-list {} 

                        &-item {}
                    } 
                }            
            }
        }
    }

    // X-Large Screen 
    @include breakpoint(map-get($pe-grid-breakpoints, xl)) {
        .navbar {
            // override styles here

            &__container {
                @include container(map_get($pe-container-max-widths, xl));
            }

            &__brand {
                // override styles here

                &-image {
                    // override styles here
                }
            }

            &__search {
                // override styles here
            }

            &__notifications {
                &.dropdown--navbar {
                }
            }

            &__menu {
                // Contains auth-links and username
                // override styles here
            }

            &__auth-link {
                // override styles here
            }

            // __username --> .dropdown
            &__username {
                // override styles here          
            }
        }
    }
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

