@charset "UTF-8";

.pagination {
    padding: 2px 5px;
    color: #48576a;
    white-space: nowrap;

    &::after, 
    &::before {
        display: table;
        content: "";
    }

    &::after {
        clear:both;
    }

    &__sizes {
        margin:0 10px 0 0;

        .el-input .el-input__inner {
            border-color: #d1dbe5;
            font-size: 13px;

            &:hover {
                border-color: #20a0ff;
            }
        }
    }    

    &__jump {
        margin-left: 10px;
    }

    &__jump-input {
        width: 30px; 
        margin: 0 6px;
        padding: 4px 2px;
        transition: border .3s;
        border: 1px solid #d1dbe5;
        border-radius: 2px;
        line-height: 18px;
        text-align: center;
        box-sizing: border-box;

        &:focus {
            border-color: #20a0ff;
            outline: 0;
        }

        // sass-lint:disable no-vendor-prefixes
        /*&::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none; 
        }*/

        // sass-lint:enable no-vendor-prefixes
        appearance: textfield;
    }

    &__total {
        margin: 0 10px;
    }

    &__rightwrapper {
        float: right;
    }

}

