<div id="autocomplete" style="width: 80%; margin: 0 auto;">
    <pe-autocomplete
        v-model="state1"
        :fetch-suggestions="querySearch"
        :trigger-on-focus="false"
        icon="icon-magnifying-glass"
        placeholder="Please Input"
        @select="handleSelect"
    >
    </pe-autocomplete>  
</div> 

<script>
requirejs(['vue', 'molecules/Autocomplete/Autocomplete'], function (Vue, Autocomplete) {
    new Vue({
        el: '#autocomplete',
        data: function () {
            return {
                state1: ''
            }
        },
        components: {
            'pe-autocomplete': Autocomplete.default
        },
        methods: {
            querySearch(queryString, cb) {
                var links = this.links;
                // Call createFilter for every link   
                var results = queryString ? links.filter(this.createFilter(queryString)) : links;
                // call callback function to return suggestions
                cb(results);
            },
            createFilter(queryString) {
                return (link) => {
                    return (link.value.indexOf(queryString.toLowerCase()) === 0);
                };
            },
            loadAll() {
                return [
                    { "value": "vue", "link": "https://github.com/vuejs/vue" },
                    { "value": "element", "link": "https://github.com/ElemeFE/element" },
                    { "value": "cooking", "link": "https://github.com/ElemeFE/cooking" },
                    { "value": "mint-ui", "link": "https://github.com/ElemeFE/mint-ui" },
                    { "value": "vuex", "link": "https://github.com/vuejs/vuex" },
                    { "value": "vue-router", "link": "https://github.com/vuejs/vue-router" },
                    { "value": "babel", "link": "https://github.com/babel/babel" }
                ];
            },
            handleSelect(item) {
                console.log(item);
            }
        },
        mounted: function () {
            this.links = this.loadAll();
        }
    });
});
</script>     
<!--{{> molecules-input-field }}-->