<div id="dropdown" style="width: 200px; height: 60px;">
    <div class="dropdown pe-icon-dropdown-arrow">
        <label class="dropdown__label" for="usermenu-toggle">
            Really Long Username
        </label>
        <input type="checkbox" class="dropdown__toggle usermenu-toggle" id="usermenu-toggle"/>
        <div class="dropdown__menu">
            <a href="#" class="dropdown__menu-header">Home</a>
            <ul class="dropdown__menu-list">
                <li class="dropdown__menu-item"><a href="#">Settings</a></li>
                <li class="dropdown__menu-item"><a href="#">Profile</a></li>                    
            </ul>
            <a href="#" class="dropdown__menu-footer">Log Out</a>
        </div>                
    </div>
</div>