<div id="enhanced-select">
    <div style="display: inline-block; width: 300px; margin: 0 20px;">
        <pe-enhanced-select v-model="selectValue" placeholder="Single select w/ clearable option" clearable>
            <pe-select-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                :disabled="false">                
            </pe-select-option>
        </pe-enhanced-select>
    </div>
    <div style="display: inline-block; width: 300px; margin: 0 20px;">
        <pe-enhanced-select 
        v-model="selectValue2" 
        placeholder="Multiple, filterable & allow-create"
        multiple 
        filterable
        allow-create
        >
        <pe-select-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            :disabled="false">
            <span style="float: left">\{{ item.label }}</span>
            <span style="float: right; color: #8492a6; font-size: 13px">\{{ item.value }}</span>
        </pe-select-option>
        </pe-enhanced-select>
    </div>
    <div style="display: inline-block; width: 300px; margin: 0 20px;">
        <pe-enhanced-select
        v-model="selectValue3"
        placeholder="Select with Options Grouped"
        >
        <pe-option-group
        v-for="group in groupOptions"
        :key="group.label"
        :label="group.label"
        >
            <pe-select-option
            v-for="item in group.options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            >
            </pe-select-option>
        </pe-option-group>
        </pe-enhanced-select>
    </div>

    <div style="display: inline-block; width: 300px; margin: 0 20px;">
        <pe-enhanced-select
            v-model="selectValue4"
            multiple
            filterable
            remote
            placeholder="Select w/ Remote Search"
            :remote-method="remoteMethod"
            :loading="loading">
            <pe-select-option
            v-for="item in remoteOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
            </pe-select-option>
        </pe-enhanced-select>
    </div>

</div>

<script>
var select = {{{json select}}};
    requirejs([
        'vue', 
        'molecules/EnhancedSelect/EnhancedSelect',
        'molecules/EnhancedSelect/Option',
        'molecules/EnhancedSelect/OptionGroup'
    ], function (Vue, EnhancedSelect, Option, OptionGroup) {
        new Vue({
            el: "#enhanced-select",
            data: function () {
                return {
                    selectValue: [],
                    selectValue2: [],
                    selectValue3: [],
                    selectValue4: [],
                    remoteOptions: [],
                    remoteSelectList: [],
                    loading: false,
                    options: select.options,
                    states: select.states,
                    groupOptions: select.groupOptions
                }
            },
            components: {
                'pe-enhanced-select': EnhancedSelect.default,
                'pe-select-option': Option.default,
                'pe-option-group': OptionGroup.default
            },
            mounted: function () {
                this.remoteSelectList = this.states.map(item => {
                    return { value: item, label: item };
                });
            },
            methods: {
                remoteMethod: function (query) {
                    if (query !== '') {
                        this.loading = true;
                        setTimeout(() => {
                            this.loading = false;
                            this.remoteOptions = this.remoteSelectList.filter(item => {
                            return item.label.toLowerCase()
                                .indexOf(query.toLowerCase()) > -1;
                            });
                        }, 200);
                    } else {
                        this.remoteOptions = [];
                    }
                }
            }            
        });
    });
</script>
<!--{{> atoms-tag }} {{> atoms-select }} {{> molecules-input-field }}-->