<div id="input-number" class="dark-background">
    <h4>Input-Number with max and min</h4>
    <input-number
        v-model="num1"
        @change="handleChange"
        :min="1"
        :max="10"
        :modifier-styles="['input_color-invert']"
    >
    </input-number>
    
    <h4>Input-Number with custom increment/decrement step</h4>
    <input-number
        v-model="num2"
        @change="handleChange"
        :step="2"
    >
    </input-number>

    <h4>Input-Number without controls</h4>
    <input-number
        v-model="num3"
        @change="handleChange"
        :controls="false"
    >
    </input-number>
</div>

<script> 
    requirejs(['vue', 'molecules/InputNumber/InputNumber'], function (Vue, InputNumber) {
        new Vue({
            el: '#input-number',
            data: function () {
                return {
                    num1: 1,
                    num2: 5,
                    num3: 10               
                }
            },
            components: {
                'input-number': InputNumber.default
            },
            methods: {
                handleChange: function (value) {
                    console.log(value);
                }   
            }
        });
    });
</script>
<!--{{> molecules-input-field }}-->