<div id="navbar">
    <pe-navbar></pe-navbar>
</div>

<script>
requirejs(['vue', 'molecules/Navbar/Navbar'], function (Vue, Navbar) {
    new Vue({
        el: '#navbar',
        data: function () {
            return {
                state1: ''
            }
        },
        components: {
            'pe-navbar': Navbar.default
        }
    });
});
</script>     
<!--{{> molecules-autocomplete }}-->