<form id="search-field" class="">
    <pe-search
        :searchinput="searchInput"
        @input="output = $event"
        >
    </pe-search>
    \{{output}}
</form>

<script>
    var searchInput = {{{json searchInput}}};    
    requirejs(['vue', 'molecules/SearchField'], function (Vue, SearchField) {
        new Vue({
            el: '#search-field',
            data: function () {
                return {
                    searchInput: searchInput,
                    output: ""      
                }
            },
            components: {
                'pe-search': SearchField.default
            }
        });
    });
</script>