<div class="text-link">
    <a href="#" class="text-link__link">
        This is a text hyperlink 
    </a>
    <div class="text-link__border"></div>
</div>

<div class="dark-background">
    <div class="text-link text-link_color-invert">
        <a href="#" class="text-link__link">
            This is a text hyperlink 
        </a>
        <div class="text-link__border"></div>
    </div>
</div>