// ==========================================================================
// Global Config
// ==========================================================================

// PROED Color Way
$pe-color-white: #fff;
$pe-color-black: #000;
$pe-color-alt-grey: #838383;
$pe-color-primary: #30a387;
$pe-color-accent: #5e274f;
$pe-color-grey: #797e84;
$pe-color-shadow: #505050;
$pe-color-transparent: rgba(0, 0, 0, 0);

// $timing-function: cubic-bezier(.38, .18, .68, 1.09);
$timing-function: ease-in-out;

// GRID VARS
// ** Default Suzy Vars **//
$susy: (
    columns: 12,
    gutters: 1 / 4,
    math: fluid, // keeps the container and values fluid (%s)
    output: float,
    gutter-position: inside // Set up margins where they happen
);

$pe-custom-layout: (
    columns: 18,
    gutters: 1 / 3,
    math: fluid, // keeps the container and values fluid (%s)
    output: float,
    gutter-position: split // Set up margins where they happen
);

$pe-grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$pe-container-max-widths: (
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px
) !default;