$primary-color--list: create-color-list($color--primary, $desaturate-val: 0, $lighten-increment:10);
$accent-color--list: create-color-list($color--accent, $desaturate-val: 0, $lighten-increment:10);
$greyscale-color--list: create-color-list($color--grey, $desaturate-val: 0, $lighten-increment: 10);
$shadow-color--list: create-color-list($color--shadow, $desaturate-val: 0, $lighten-increment:10);