// ==========================================================================
// Typographic Variables 
// ==========================================================================
$pe-base-fontsize: 16px;
$pe-base-lineheight: 24px;

// PATH TO ASSETS
$pe-relpath-images: "../img";
$pe-relpath-fonts: "";

// Font Stacks
//$font-url--google: 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$pe-fontfamily-sansserif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$pe-fontfamily-serif: "Times New Roman", serif;

// Font Weights
$pe-fontweight-thin: 100;
$pe-fontweight-light: 300;
$pe-fontweight-medium: 400;
$pe-fontweight-bold: 700;
$pe-fontweight-ultrabold: 900;



