// ==========================================================================
// BUTTON STYLES
// ==========================================================================

// PSEUDO CLASSES 
// ==========================================================================
%button {
    @include pe-transition(border, background, filter);
    @include pe-font-family-forms();    
    border-style: solid;    
    vertical-align: middle;

    &:active {
        transition-duration: 0s;
    }

    &:focus {
        outline: none;
    }
}

%button__text {
    display: inline-block;
    text-align: center;
}

// MIXINS
// ==========================================================================
@mixin button-color (
    $border-color: nth($pe-greyscale-color-list, 2),
    $background: nth($pe-greyscale-color-list, 3),
    $background-active: nth($pe-greyscale-color-list, 3)   
) {
    border-color: $border-color;
    background: $background;

    &:active {
        background: $background-active;
    }  
}

@mixin button-size (
    $button-width: 200px,
    $button-height: 50px,
    $border-radius: rem(4px),
    $border-width: rem(3px),
    $border-width-hover: rem(6px),
    $border-width-active: rem(4px)
) {
    width: $button-width;
    height: $button-height;
    border-width: 0 0 $border-width;
    border-radius: 4px;

    @if $button-height <= ($pe-base-fontsize * 3) {
        @include pe-font-sizing-h7(); 
    } @else if $button-height > ($pe-base-fontsize * 5) {  
        @include pe-font-sizing-h4(); 
    } @else {
        @include pe-font-sizing-h6();
    }

    &:hover {    
        border-bottom: $border-width-hover solid;    
    }

    &:active {
        border-bottom: $border-width-active solid;
    }    
}

// MAIN CLASSES
// ==========================================================================
.button {
    @extend %button;
    @include button-size();
    @include button-color();  
}


// MODIFIER CLASSES 
// ==========================================================================
// sass-lint:disable class-name-format
.button_color-primary { 
    border-color: nth($pe-primary-color-list, 1);
    background: nth($pe-primary-color-list, 3);

    &:active {
        background: nth($pe-primary-color-list, 2);
    }
}

.button_width-full {
    display: block;
    width: 100%;
}  