// ==========================================================================
// BUTTON STYLES
// ==========================================================================
// BEVM STRUCTURE: button, button__text

// PSEUDO CLASSES 
// ==========================================================================
%button {
    @include pe-font-family-forms();  
    display: inline-block;
    position: relative;  
    padding: 0;
    border-style: solid;    
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;

    &:focus {
        outline: none;
    }
}

%button__text {    
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%); 
    cursor: pointer;  
}


// MIXINS
// ==========================================================================
@mixin button-color (
    $text-color: $pe-color-white,
    $border-color: darken(nth($pe-greyscale-color-list, 2), 5%),
    $background: nth($pe-greyscale-color-list, 4),
    $background-active-color1: nth($pe-greyscale-color-list, 4),
    $background-active-color2: nth($pe-greyscale-color-list, 3)   
) {
    border-color: $border-color;
    background: $background;
    //&:hover, 
    //&:active {
    //    border-color: $border-color;    
    //    background-image: linear-gradient(0deg, $background-active-color2 -20%, $background-active-color1 80%);    
    //}  

    &:active {
        border-color: $border-color;    
        background-image: linear-gradient(0deg, $background-active-color1 -20%, $background-active-color2 80%);    
    } 

    .button__text {
        color: $text-color;
    } 
}

@mixin button-size (
    $button-width: 200px,
    $button-height: 50px,
    $border-radius: rem(4px),
    $border-width: rem(3px),
    $border-width-hover: rem(6px),
    $border-width-active: rem(2px)
) { 
    width: $button-width;
    height: $button-height;
    border-width: 0 0 $border-width;
    border-radius: ($border-radius * 1.5) ($border-radius * 1.5) $border-radius $border-radius;
    line-height: $button-height - px($border-width);

    @if $button-height <= ($pe-base-fontsize * 3) {
        @include pe-font-sizing-meta-data();
        line-height: $button-height;         
    } @else if $button-height >= ($pe-base-fontsize * 5) {  
        @include pe-font-sizing-h5(); 
    } @else {
        @include pe-font-sizing-h7();
    }

    &:hover {    
        border-width: 0 0 $border-width-hover;  
        line-height: $button-height - px($border-width-hover);  
    }

    &:active {
        border-width: 0 0 $border-width-active;
        line-height: $button-height - px($border-width-active);
    }   
}


// MAIN CLASSES
// ==========================================================================
.button {
    @extend %button;
    @include pe-transition(border, background, filter, line-height);
    @include button-size();
    @include button-color();

    &:active {
        transition-duration: 0s;
    }

    .button__text {
        @extend %button__text;
    }
}


// MODIFIER CLASSES 
// ==========================================================================
// sass-lint:disable class-name-format

// Color Modifiers 
.button_color-primary { 
    @include button-color(
        $text-color: $pe-color-white,
        $border-color: nth($pe-primary-color-list, 1),
        $background: nth($pe-primary-color-list, 3),
        $background-active-color1: nth($pe-primary-color-list, 3),
        $background-active-color2: nth($pe-primary-color-list, 2) 
    ); 
}

.button_color-accent { 
    @include button-color(
        $text-color: $pe-color-white,
        $border-color: lighten(nth($pe-accent-color-list, 2), 10%),
        $background: nth($pe-accent-color-list, 5),
        $background-active-color1: nth($pe-accent-color-list, 5),
        $background-active-color2: nth($pe-accent-color-list, 4) 
    ); 
}

// Size Modifiers
.button_size-small {
    @include button-size(
        $button-width: 100px,
        $button-height: 30px,
        $border-radius: rem(2px),
        $border-width: rem(2px),
        $border-width-hover: rem(4px),
        $border-width-active: rem(1px)
    );
}

.button_size-large {
    @include button-size(
        $button-width: 300px,
        $button-height: 80px,
        $border-radius: rem(6px),
        $border-width: rem(4px),
        $border-width-hover: rem(8px),
        $border-width-active: rem(3px)
    );
}

