%button {
    background-color: $black;
    border: 0;
    color: $white;
    height: 50px;
}

.button {
    @extend %button;  
    display: inline-block;
    width: 200px;

    &--full-width {
        @extend %button;
        display: block;
        width: 100%;
    }    
}