// ==========================================================================
// RADIO BUTTON STYLES
// ==========================================================================
// BEVM STRUCTURE: radio, radio__input, radio__label, radio__inside


// PSEUDO CLASSES 
// ==========================================================================
%radio {
    // Base radio button rules
    display: inline-block;
    position: relative;
    width: 100%;
    color: nth($pe-greyscale-color-list, 4);


    &:hover &__label {
        color: $pe-color-grey;
    }
}

%radio__input {
    display: none;
    position: absolute;
    visibility: hidden;

    &:checked + .radio__fill {
        &::before {
            background-color: nth($pe-primary-color-list, 3);
        }
    }
}

%radio__label {
    display: inline-block;
    position: relative;
    transition-duration: 0.25s;
    transition-property: color;
    transition-timing-function: linear;
    cursor: pointer;
    vertical-align: top;        
    z-index: 9;
}

%radio__fill {
    display: inline-block;
    position: relative;
    transition: border .25s linear;
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
    border-color: nth($pe-greyscale-color-list, 3);
    vertical-align: top;
    z-index: 5;    

    &::before {
        display: inline-block;
        position: absolute;
        top: 50%;  // position the top  edge of the element at the middle of the parent 
        left: 50%; // position the left edge of the element at the middle of the parent 
        transform: translate(-50%, -50%);        
        transition: background 0.25s linear;
        border-radius: 100%;
        background-color: $pe-color-white;
        content: '';        
    }
}


// MIXINS
// ==========================================================================
@mixin radio-size($size) {
    height: $size;

    &:hover > .radio__fill {
        @if $size <= $pe-base-fontsize {
            border-width: $size / 3;  
        } @else if $size > ($pe-base-fontsize * 2) {
            border-width: $size / 5;
        } @else {            
            border-width: $size / 4;
        } 
    }
}

@mixin radio-label-size($size) {
    height: $size;
    margin-left: -$size;
    padding-left: $size + 10px;
    line-height: $size;                
    @if $size <= $pe-base-fontsize {
        @include font-sizing-sub-paragraph(); 
    } @else if $size > ($pe-base-fontsize * 2) {  
        @include font-sizing-h4(); 
    } @else {
        @include font-sizing-h6();
    }    
}

@mixin radio-fill-size ($size) {
    width: $size;
    height: $size;
    @if $size <= $pe-base-fontsize {
        border-width: $size / 6;  
    } @else if $size > ($pe-base-fontsize * 2) {
        border-width: $size / 10;
    } @else {            
        border-width: $size / 8;
    }    

    &::before {
        @if $size <= $pe-base-fontsize {
            width: $size / 2;   
            height: $size / 2;
        } @else if $size > ($pe-base-fontsize * 2) {
            width: (3 * $size) / 5;
            height: (3 * $size) / 5;
        } @else {            
            width: (11 * $size) / 20;
            height: (11 * $size) / 20;
        }                   
    }
}


// CLASSES  
// ==========================================================================
.radio {
    @extend %radio;
    @include radio-size(30px);

    &__input {
        @extend %radio__input;
    }

    &__label {
        @extend %radio__label;
        @include radio-label-size(30px);
    }

    &__fill {
        @extend %radio__fill;
        @include radio-fill-size(30px);
    }
}


// MODIFIER CLASSES 
// ==========================================================================
.radio-size-xsmall {
    @include radio-size(15px);

    .radio__label {
        @include radio-label-size(15px);
    }

    .radio__fill {        
        @include radio-fill-size(15px);
    }
}

.radio-size-small {
    @include radio-size(20px);

    .radio__label {
        @include radio-label-size(20px);
    }

    .radio__fill {        
        @include radio-fill-size(20px);
    }
}

.radio-size-large {
    @include radio-size(60px);

    .radio__label {
        @include radio-label-size(60px);
    }

    .radio__fill {        
        @include radio-fill-size(60px);
    }
}

.radio-size-medium {
    @include radio-size(45px);

    .radio__label {
        @include radio-label-size(45px);
    }

    .radio__fill {        
        @include radio-fill-size(45px);
    }
}

// font size 1.25rem (16px context) 