// ==========================================================================
// CHECKBOX STYLES
// ==========================================================================
// BEVM STRUCTURE: 
// select, select__placeholder, select__options, select__option, select__input

// PSEUDO CLASSES 
// ==========================================================================
%select {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 500px;
    background: #fff;
    text-align: left;
    vertical-align: middle;
    z-index: 100;
    // -webkit-touch-callout: none;
    user-select: none;

    &:focus {
        outline: none; // For better accessibility add a style for this in your skin 
    }

    &.is-active {
        z-index: 200;

        .select__options {
            visibility: visible;
        }
    }
}

%select__placeholder {
    display: block;
    position: relative;
    padding: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-80%); 
        content: '\25B2';       
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-20%); 
        content: '\25BC';       
    }    
}

%select__options {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    overflow: hidden;
    visibility: hidden;
}

%select__option {
    &.is-focused {
        background-color: #ddd;
    }
}

%select__input {
    display: none;
}

// MIXINS
// ==========================================================================


// MAIN CLASSES
// ========================================================================== 
.select {
    @extend %select;

    .select__placeholder {
        @extend %select__placeholder;
    }

    .select__options {
        @extend %select__options;

        .select__option {
            @extend %select__option;
        }
    }

    .select__input {
        @extend %select__input;
    }
}

// MODIFIER CLASSES 
// ==========================================================================
// sass-lint:disable class-name-format

