// ==========================================================================
// SELECT BOX STYLES
// ==========================================================================
// BEVM STRUCTURE: Simple Select
// Block: select 
// Elements: __placeholder, __border, __options, __option


// BEVM STRUCTURE: Enhanced Select 
// Block: select
// Elements: __tags, __input, __empty, __dropdown __options, __option

// PSEUDO CLASSES 
// ==========================================================================
%select {
    @include pe-font-family-forms();
    @include pe-font-sizing-h7();
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 500px;
    text-align: left;
    vertical-align: middle;
    z-index: 100;
    // -webkit-touch-callout: none;
    user-select: none;

    &:focus {
        outline: none; // For better accessibility add a style for this in your skin 
    }

    &:hover, 
    &.is-active {
        .select__border {
            border-width: rem(3px) 0 rem(3px) 0;
        }
    }

    &.is-active {
        z-index: 200;

        .select__options {
            visibility: visible;
        }
    }        
}

%select__placeholder {
    @include pe-transition(color);
    display: block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-70%) scale(0.8, 0.6); 
        content: '\25B2';       
    }

    &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-25%) scale(0.8, 0.6); 
        content: '\25BC';       
    }    
}

%select__border {
    @include pe-bottom-border($border-width: rem(1px) 0, $border-radius: 0);
}

// Simple Select & Enhanced Select 
%select__options {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    visibility: hidden;
}

%select__option {
    @include pe-transition(color);
    display: block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    > div {
        @include pe-bottom-border($border-width: rem(2px) 0, $border-radius: 0);
    }
}

// Enhanced Select Only 
%select__tags {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
    white-space: normal;
    z-index: 200;
}

%select__filter-input {
    @include pe-font-family-forms();
    @include pe-font-sizing-h7();
    height: 100%;
    padding: 0;
    padding-left: rem(2px);
    border: 0;
    outline: none;
    appearance: none;
    background-color: transparent;
}

%select__input {
    .input__input {
        // padding-left: rem(2px);

        &:focus + .input__border, 
        // &:valid + .input__border,
        &.is-valid + .input__border {
            border-width: rem(3px) 0 rem(3px) 0;
            border-radius: 0;
            outline: none;
        }
    }

    .input__icon {
        &::before, 
        &::after {
            font-size: 1rem;
        }
    }

    .input__border {
        @include pe-bottom-border($border-width: rem(1px) 0, $border-radius: 0);
    }
}

// MIXINS
// ==========================================================================
// Elements: __placeholder, __border, __options, __option
// Simple Select Only 
// (For Enhanced Select color changes) use modifiers on .input 
@mixin select-color (
    $background-color: $pe-color-white,
    $placeholder-color: nth($pe-greyscale-color-list, 4),
    $text-color-active: nth($pe-greyscale-color-list, 2),
    $text-color-done: nth($pe-greyscale-color-list, 2),
    $border-color: $pe-color-grey, 
    $border-color-focused: nth($pe-primary-color-list, 3),
    $box-shadow: nth($pe-greyscale-color-list, 5)
) {
    background-color: $background-color;

    &:hover, 
    &.is-active {        
        .select__placeholder {
            color: $text-color-active;

            &::before, 
            &::after {
                color: $text-color-active;
            }
        }      

        .select__border {
            border-color: $border-color-focused;
            background-color: $border-color-focused;
        }         
    }

    .select__placeholder {
        color: $placeholder-color; 

        &.is-chosen {
            color: $text-color-done;
        }     
    }

    .select__border {
        border-color: $border-color;
        background-color: $border-color;
        box-shadow: 0 rem(1px) 1px transparentize($box-shadow, 0.8);
    } 

    .select__filter-input {
        color: $text-color-active;
    }
}

// Simple Select & Enhanced Select 
@mixin select-options-color (
    $background-color: $pe-color-white,
    $border-color: $pe-color-grey, 
    $border-color-hover: nth($pe-primary-color-list, 3),
    $box-shadow: nth($pe-greyscale-color-list, 5),
    $option-background: $pe-color-white
) {
    .select__option {
        background-color: $background-color;
        color: $border-color;

        > div {
            border-color: $border-color;
            background-color: $border-color;
            box-shadow: 0 rem(1px) 1px transparentize($box-shadow, 0.8);
        }

        &:hover {
            color: $border-color-hover;

            > div {
                border-color: $border-color-hover;
                background-color: $border-color-hover;
            }
        }

        &.is-focused {
            background-color: $option-background;
        }        
    }
}

// Simple Select & Enhanced Select 
@mixin select-padding($padding: rem(10px)) {
    .select__placeholder {
        padding: $padding $padding $padding ($padding / 5);

        &::before {
            right: $padding;     
        }

        &::after {
            right: $padding;      
        } 
    }

    .select__options {
        .select__option {
            padding: ($padding * 1.5) $padding ($padding * 1.5) ($padding / 5);

            > div {
                margin-left: -($padding / 5);
            }
        }
    }
}


// MAIN CLASSES
// ========================================================================== 
.select {
    @extend %select;
    @include select-color();
    @include select-padding();

    .select__placeholder {
        @extend %select__placeholder;
    }

    .select__border {
        @extend %select__border;
    }

    .select__options {
        @extend %select__options;
        @include select-options-color();

        .select__option {
            @extend %select__option;
        }
    }

    // Enhanced Select Only
    .select__tags {
        @extend %select__tags;
    }

    .select__input {
        @extend %select__input;
    }

    .select__filter-input {
        @extend %select__filter-input;
    }
}

// Enhanced Select Only 
.select__dropdown {
    @include select-padding();
    @include pe-font-family-forms();
    @include pe-font-sizing-h7();
    z-index: 1000;

    .select__options {
        @extend %select__options;
        @include select-options-color();
        visibility: visible;

        .select__option {
            @extend %select__option;
        }
    }
}

// MODIFIER CLASSES 
// ==========================================================================
// sass-lint:disable class-name-format
.select_color-invert {    
    @include select-color(
        $background-color: $pe-color-transparent,
        $placeholder-color: nth($pe-greyscale-color-list, 6),
        $text-color-active: $pe-color-white,
        $text-color-done: $pe-color-white,
        $border-color: $pe-color-white, 
        $border-color-focused: nth($pe-primary-color-list, 3),
        $box-shadow: nth($pe-greyscale-color-list, 2)
    );

    .select__options {
        @extend %select__options;
        @include select-options-color(
            $background-color: $pe-color-transparent,
            $border-color: $pe-color-white, 
            $border-color-hover: nth($pe-primary-color-list, 3),
            $box-shadow: nth($pe-greyscale-color-list, 2),
            $option-background: $pe-color-transparent
        );
    }
}
