// ==========================================================================
// TEXT HYPERLINK STYLES
// ==========================================================================
// BEVM STRUCTURE: text-link

// PSEUDO CLASSES 
// ==========================================================================
%text-link {
    @include pe-font-family-paragraph();
    display: inline-block;
    position: relative;
    height: $pe-base-lineheight;
    padding: -5px;
}

%text-link__link {
    @include pe-transition(0.3s, color);

    &:link { 
        text-decoration: none;
    }

    &:visited,
    &:hover,
    &:active {
        position: relative;        
        transition-duration: 0.05s;        
        text-decoration: none;        
        backface-visibility: hidden;
    }

    &:hover + .text-link__border {
        &::before, 
        &::after {
            width: 100%;
            transition-delay: 0s;
            transition-duration: 0.05s;                        
            transition-property: border-color, background-color, opacity;
            border-radius: rem(1px);
            outline: none;
            opacity: 1;
        }
    }

    &:active + .text-link__border {
        &::before, 
        &::after {
            transition-delay: 0s;                                
            transition-duration: 0s;
        }  
    } 

    &::before, 
    &::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

%text-link__border {
    &::before, 
    &::after {
        @include pe-input-border();
        @include pe-transition(0.175s, width, border-color, background-color, opacity);
        left: 50%;
        width: 0;
        transform: translateX(-50%);
        transition-delay: 0.15s;
        content: "";
        opacity: 0;               
    }
}


// MIXINS
// ==========================================================================
@mixin text-link-color(
    $link-color: darken(nth($pe-primary-color-list, 3), 5%),
    $visited-color: nth($pe-accent-color-list, 3),
    $focus-color: nth($pe-primary-color-list, 3),
    $hover-color: nth($pe-primary-color-list, 1),
    $active-color: lighten(nth($pe-accent-color-list, 3), 10%)
) {
    &:link {
        color: $link-color;

        + .text-link__border {
            &::before, 
            &::after {
                border-color: $link-color; 
                background-color: $link-color;             
            }
        }
    }

    &:visited {
        color: $visited-color;

        + .text-link__border {
            &::before, 
            &::after {
                border-color: $visited-color;              
                background-color: $visited-color;
            }
        }
    }

    &:focus {
        color: $focus-color;

        + .text-link__border {
            &::before, 
            &::after {
                border-color: $focus-color;
                background-color: $focus-color;              
            }
        }
    }

    &:hover {
        color: $hover-color;

        + .text-link__border {
            &::before, 
            &::after {
                border-color: $hover-color;
                background-color: $hover-color;              
            }
        }
    }

    &:active {
        color: $active-color;

        + .text-link__border {
            &::before, 
            &::after {
                border-color: $active-color;
                background-color: $active-color;              
            }
        }
    }
}

// MAIN CLASSES
// ==========================================================================
.text-link {
    @extend %text-link;

    &__link {
        @extend %text-link__link;
        @include text-link-color();
    }

    &__border {
        @extend %text-link__border;
    }
}


// MODIFIER CLASSES 
// ==========================================================================
// sass-lint:disable class-name-format

// Color Modifiers 
.text-link_bgcolor-dark {
    .text-link__link {
        @include text-link-color(
            $link-color: lighten(nth($pe-primary-color-list, 3), 5%),
            $visited-color: nth($pe-accent-color-list, 3),
            $focus-color: nth($pe-primary-color-list, 5),
            $hover-color: nth($pe-primary-color-list, 5),
            $active-color: lighten(nth($pe-accent-color-list, 4), 0%)
        );
    }
}

.text-link_bgcolor-gray {
    .text-link__link {
        @include text-link-color(
            $link-color: lighten(nth($pe-primary-color-list, 4), 5%),
            $visited-color: nth($pe-accent-color-list, 3),
            $focus-color: nth($pe-primary-color-list, 4),
            $hover-color: nth($pe-primary-color-list, 4),
            $active-color: darken(nth($pe-accent-color-list, 4), 5%)
        );
    }
}