<button type="button" class="circle-button circle-button_size-small">
    <span class="circle-button__text icon-arrow-left"></span>
</button>
<button type="button" class="circle-button">
    <span class="circle-button__text">2</span>
</button>
<a href="?p=viewall-atoms-forms" type="button" class="circle-button circle-button_size-large">
    <span class="circle-button__text icon-arrow-right"></span>
</a>


<div class="gray-background">
    <button type="button" class="circle-button circle-button_size-small circle-button_color-invert">
        <span class="circle-button__text icon-arrow-left"></span>
    </button>
    <button type="button" class="circle-button circle-button_color-invert">
        <span class="circle-button__text">2</span>
    </button>
    <a href="?p=viewall-atoms-forms" type="button" class="circle-button circle-button_size-large circle-button_color-invert">
        <span class="circle-button__text icon-arrow-right"></span>
    </a>
</div>