// ==========================================================================
// $Print
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================

// sass-lint:disable no-important 
@media print {
    * {
        &::before,
        &::after {
            background: transparent !important;
            color: $pe-color-black !important; // Black prints faster: http://www.sanbeiji.com/archives/953            
            text-shadow: none !important;
            box-shadow: none !important;
        }
    }

    a {
        text-decoration: underline;                

        &:visited {
            text-decoration: underline;
        }

        &[href] {
            &::after {
                content: " (" attr(href) ")";    
            }
        }

        // Don't show links that are fragment identifiers,
        // or use the `javascript:` pseudo protocol
        &[href^="#"], 
        &[href^="javascript:"] {
            &::after {
                content: "";
            }            
        }    
    }


    abbr {
        &[title] {
            &::after {
                content: " (" attr(title) ")";
            }
        }                            
    }

    pre,
    blockquote {
        border: 1px solid lighten($pe-color-black, 30);
        page-break-inside: avoid;
    }

    // Printing Tables:
    // http://css-discuss.incutio.com/wiki/Printing_Tables

    thead { 
        display: table-header-group; 
    }

    tr,
    img { 
        page-break-inside: avoid; 
    }

    img { 
        max-width: 100% !important; 
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
