// ==========================================================================
// BASE STYLES 
// ==========================================================================

// sass-lint:disable no-vendor-prefixes 
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:hover, 
    &:active {
        -webkit-tap-highlight-color: transparent;
        // -webkit-touch-callout: none;
        user-select: none; // Disable selection/copy in UIWebView         
    }
}

html, 
body {        
    @include pe-font-family-paragraph {
        background-color: $pe-color-white;
        font-size: $pe-base-fontsize;
        line-height: ($pe-base-lineheight / $pe-base-fontsize);
    };

    // FIX IOS FORM JUMPING BUG
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
    // END -->FIX IOS FORM JUMPING BUG
}




