// ==========================================================================
// CABIN @font-face
// ========================================================================== 
// sass-lint:disable indentation

@font-face {
    font-family: 'cabinbold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-bold-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-bold-webfont.woff') format('woff');    
}

@font-face {
    font-family: 'cabinbold_italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-bolditalic-webfont.woff') format('woff');    
}

@font-face {
    font-family: 'cabinitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-italic-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-italic-webfont.woff') format('woff');    
}

@font-face {
    font-family: 'cabincabin_medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-medium-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'cabincabin_medium_italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-mediumitalic-webfont.woff') format('woff');    
}

@font-face {
    font-family: 'cabinregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'cabincabin_semibold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'cabincabin_semibold_italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/cabin/cabin-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin/cabin-semibolditalic-webfont.woff') format('woff');
}