@font-face {
    font-family: 'helveticaBoldFallback';
    font-weight: 700;
    src: local('Helvetica');
}

@font-face {
    font-family: 'arialBoldFallback';
    font-weight: 600;
    src: local('Arial');
}