@font-face {
      font-family: 'helveticaBoldFallback';
      src: local('Helvetica');
      font-weight: 700;
}

@font-face {
      font-family: 'arialBoldFallback';
      src: local('Arial');
      font-weight: 600;
}