// sass-lint:disable-all
@import "icon-variables";

@font-face {
    font-family: 'iconic';
    src:  url('#{$icomoon-font-path}/iconic.eot?mouopu');
    src:  url('#{$icomoon-font-path}/iconic.eot?mouopu#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/iconic.ttf?mouopu') format('truetype'),
        url('#{$icomoon-font-path}/iconic.woff?mouopu') format('woff'),
        url('#{$icomoon-font-path}/iconic.svg?mouopu#iconic') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconic' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat {
    &:before {
        content: $icon-chat;
    }
}
.icon-chat-alt-stroke {
    &:before {
        content: $icon-chat-alt-stroke;
    }
}
.icon-chat-alt-fill {
    &:before {
        content: $icon-chat-alt-fill;
    }
}
.icon-comment-alt1-stroke {
    &:before {
        content: $icon-comment-alt1-stroke;
    }
}
.icon-comment {
    &:before {
        content: $icon-comment;
    }
}
.icon-comment-stroke {
    &:before {
        content: $icon-comment-stroke;
    }
}
.icon-comment-fill {
    &:before {
        content: $icon-comment-fill;
    }
}
.icon-comment-alt2-stroke {
    &:before {
        content: $icon-comment-alt2-stroke;
    }
}
.icon-comment-alt2-fill {
    &:before {
        content: $icon-comment-alt2-fill;
    }
}
.icon-checkmark {
    &:before {
        content: $icon-checkmark;
    }
}
.icon-check-alt {
    &:before {
        content: $icon-check-alt;
    }
}
.icon-x {
    &:before {
        content: $icon-x;
    }
}
.icon-x-altx-alt {
    &:before {
        content: $icon-x-altx-alt;
    }
}
.icon-denied {
    &:before {
        content: $icon-denied;
    }
}
.icon-cursor {
    &:before {
        content: $icon-cursor;
    }
}
.icon-rss {
    &:before {
        content: $icon-rss;
    }
}
.icon-rss-alt {
    &:before {
        content: $icon-rss-alt;
    }
}
.icon-wrench {
    &:before {
        content: $icon-wrench;
    }
}
.icon-dial {
    &:before {
        content: $icon-dial;
    }
}
.icon-cog {
    &:before {
        content: $icon-cog;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-calendar-alt-stroke {
    &:before {
        content: $icon-calendar-alt-stroke;
    }
}
.icon-calendar-alt-fill {
    &:before {
        content: $icon-calendar-alt-fill;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-mail {
    &:before {
        content: $icon-mail;
    }
}
.icon-heart-stroke {
    &:before {
        content: $icon-heart-stroke;
    }
}
.icon-heart-fill {
    &:before {
        content: $icon-heart-fill;
    }
}
.icon-movie {
    &:before {
        content: $icon-movie;
    }
}
.icon-document-alt-stroke {
    &:before {
        content: $icon-document-alt-stroke;
    }
}
.icon-document-alt-fill {
    &:before {
        content: $icon-document-alt-fill;
    }
}
.icon-document-stroke {
    &:before {
        content: $icon-document-stroke;
    }
}
.icon-document-fill {
    &:before {
        content: $icon-document-fill;
    }
}
.icon-plus {
    &:before {
        content: $icon-plus;
    }
}
.icon-plus-alt {
    &:before {
        content: $icon-plus-alt;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-minus-alt {
    &:before {
        content: $icon-minus-alt;
    }
}
.icon-pin {
    &:before {
        content: $icon-pin;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-bolt {
    &:before {
        content: $icon-bolt;
    }
}
.icon-move {
    &:before {
        content: $icon-move;
    }
}
.icon-move-alt1 {
    &:before {
        content: $icon-move-alt1;
    }
}
.icon-move-alt2 {
    &:before {
        content: $icon-move-alt2;
    }
}
.icon-equalizer {
    &:before {
        content: $icon-equalizer;
    }
}
.icon-award-fill {
    &:before {
        content: $icon-award-fill;
    }
}
.icon-award-stroke {
    &:before {
        content: $icon-award-stroke;
    }
}
.icon-magnifying-glass {
    &:before {
        content: $icon-magnifying-glass;
    }
}
.icon-trash-stroke {
    &:before {
        content: $icon-trash-stroke;
    }
}
.icon-trash-fill {
    &:before {
        content: $icon-trash-fill;
    }
}
.icon-beaker-alt {
    &:before {
        content: $icon-beaker-alt;
    }
}
.icon-beaker {
    &:before {
        content: $icon-beaker;
    }
}
.icon-key-stroke {
    &:before {
        content: $icon-key-stroke;
    }
}
.icon-key-fill {
    &:before {
        content: $icon-key-fill;
    }
}
.icon-new-window {
    &:before {
        content: $icon-new-window;
    }
}
.icon-lightbulb {
    &:before {
        content: $icon-lightbulb;
    }
}
.icon-spin-alt {
    &:before {
        content: $icon-spin-alt;
    }
}
.icon-spin {
    &:before {
        content: $icon-spin;
    }
}
.icon-curved-arrow {
    &:before {
        content: $icon-curved-arrow;
    }
}
.icon-undo {
    &:before {
        content: $icon-undo;
    }
}
.icon-reload {
    &:before {
        content: $icon-reload;
    }
}
.icon-reload-alt {
    &:before {
        content: $icon-reload-alt;
    }
}
.icon-loop {
    &:before {
        content: $icon-loop;
    }
}
.icon-loop-alt1 {
    &:before {
        content: $icon-loop-alt1;
    }
}
.icon-loop-alt2 {
    &:before {
        content: $icon-loop-alt2;
    }
}
.icon-loop-alt3 {
    &:before {
        content: $icon-loop-alt3;
    }
}
.icon-loop-alt4 {
    &:before {
        content: $icon-loop-alt4;
    }
}
.icon-transfer {
    &:before {
        content: $icon-transfer;
    }
}
.icon-move-vertical {
    &:before {
        content: $icon-move-vertical;
    }
}
.icon-move-vertical-alt1 {
    &:before {
        content: $icon-move-vertical-alt1;
    }
}
.icon-move-vertical-alt2 {
    &:before {
        content: $icon-move-vertical-alt2;
    }
}
.icon-move-horizontal {
    &:before {
        content: $icon-move-horizontal;
    }
}
.icon-move-horizontal-alt1 {
    &:before {
        content: $icon-move-horizontal-alt1;
    }
}
.icon-move-horizontal-alt2 {
    &:before {
        content: $icon-move-horizontal-alt2;
    }
}
.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}
.icon-arrow-left-alt1 {
    &:before {
        content: $icon-arrow-left-alt1;
    }
}
.icon-arrow-left-alt2 {
    &:before {
        content: $icon-arrow-left-alt2;
    }
}
.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-arrow-right-alt1 {
    &:before {
        content: $icon-arrow-right-alt1;
    }
}
.icon-arrow-right-alt2 {
    &:before {
        content: $icon-arrow-right-alt2;
    }
}
.icon-arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}
.icon-arrow-up-alt1 {
    &:before {
        content: $icon-arrow-up-alt1;
    }
}
.icon-arrow-up-alt2 {
    &:before {
        content: $icon-arrow-up-alt2;
    }
}
.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}
.icon-arrow-down-alt1 {
    &:before {
        content: $icon-arrow-down-alt1;
    }
}
.icon-arrow-down-alt2 {
    &:before {
        content: $icon-arrow-down-alt2;
    }
}
.icon-cd {
    &:before {
        content: $icon-cd;
    }
}
.icon-steering-wheel {
    &:before {
        content: $icon-steering-wheel;
    }
}
.icon-microphone {
    &:before {
        content: $icon-microphone;
    }
}
.icon-headphones {
    &:before {
        content: $icon-headphones;
    }
}
.icon-volume {
    &:before {
        content: $icon-volume;
    }
}
.icon-volume-mute {
    &:before {
        content: $icon-volume-mute;
    }
}
.icon-play {
    &:before {
        content: $icon-play;
    }
}
.icon-pause {
    &:before {
        content: $icon-pause;
    }
}
.icon-stop {
    &:before {
        content: $icon-stop;
    }
}
.icon-eject {
    &:before {
        content: $icon-eject;
    }
}
.icon-first {
    &:before {
        content: $icon-first;
    }
}
.icon-last {
    &:before {
        content: $icon-last;
    }
}
.icon-play-alt {
    &:before {
        content: $icon-play-alt;
    }
}
.icon-fullscreen-exit {
    &:before {
        content: $icon-fullscreen-exit;
    }
}
.icon-fullscreen-exit-alt {
    &:before {
        content: $icon-fullscreen-exit-alt;
    }
}
.icon-fullscreen {
    &:before {
        content: $icon-fullscreen;
    }
}
.icon-fullscreen-alt {
    &:before {
        content: $icon-fullscreen-alt;
    }
}
.icon-iphone {
    &:before {
        content: $icon-iphone;
    }
}
.icon-battery-empty {
    &:before {
        content: $icon-battery-empty;
    }
}
.icon-battery-half {
    &:before {
        content: $icon-battery-half;
    }
}
.icon-battery-full {
    &:before {
        content: $icon-battery-full;
    }
}
.icon-battery-charging {
    &:before {
        content: $icon-battery-charging;
    }
}
.icon-compass {
    &:before {
        content: $icon-compass;
    }
}
.icon-box {
    &:before {
        content: $icon-box;
    }
}
.icon-folder-stroke {
    &:before {
        content: $icon-folder-stroke;
    }
}
.icon-folder-fill {
    &:before {
        content: $icon-folder-fill;
    }
}
.icon-at {
    &:before {
        content: $icon-at;
    }
}
.icon-ampersand {
    &:before {
        content: $icon-ampersand;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-question-mark {
    &:before {
        content: $icon-question-mark;
    }
}
.icon-pilcrow {
    &:before {
        content: $icon-pilcrow;
    }
}
.icon-hash {
    &:before {
        content: $icon-hash;
    }
}
.icon-left-quote {
    &:before {
        content: $icon-left-quote;
    }
}
.icon-right-quote {
    &:before {
        content: $icon-right-quote;
    }
}
.icon-left-quote-alt {
    &:before {
        content: $icon-left-quote-alt;
    }
}
.icon-right-quote-alt {
    &:before {
        content: $icon-right-quote-alt;
    }
}
.icon-article {
    &:before {
        content: $icon-article;
    }
}
.icon-read-more {
    &:before {
        content: $icon-read-more;
    }
}
.icon-list {
    &:before {
        content: $icon-list;
    }
}
.icon-list-nested {
    &:before {
        content: $icon-list-nested;
    }
}
.icon-book {
    &:before {
        content: $icon-book;
    }
}
.icon-book-alt {
    &:before {
        content: $icon-book-alt;
    }
}
.icon-book-alt2 {
    &:before {
        content: $icon-book-alt2;
    }
}
.icon-pen {
    &:before {
        content: $icon-pen;
    }
}
.icon-pen-alt-stroke {
    &:before {
        content: $icon-pen-alt-stroke;
    }
}
.icon-pen-alt-fill {
    &:before {
        content: $icon-pen-alt-fill;
    }
}
.icon-pen-alt2 {
    &:before {
        content: $icon-pen-alt2;
    }
}
.icon-brush {
    &:before {
        content: $icon-brush;
    }
}
.icon-brush-alt {
    &:before {
        content: $icon-brush-alt;
    }
}
.icon-eyedropper {
    &:before {
        content: $icon-eyedropper;
    }
}
.icon-layers-alt {
    &:before {
        content: $icon-layers-alt;
    }
}
.icon-layers {
    &:before {
        content: $icon-layers;
    }
}
.icon-image {
    &:before {
        content: $icon-image;
    }
}
.icon-camera {
    &:before {
        content: $icon-camera;
    }
}
.icon-aperture {
    &:before {
        content: $icon-aperture;
    }
}
.icon-aperture-alt {
    &:before {
        content: $icon-aperture-alt;
    }
}
.icon-chart {
    &:before {
        content: $icon-chart;
    }
}
.icon-chart-alt {
    &:before {
        content: $icon-chart-alt;
    }
}
.icon-bars {
    &:before {
        content: $icon-bars;
    }
}
.icon-bars-alt {
    &:before {
        content: $icon-bars-alt;
    }
}
.icon-eye {
    &:before {
        content: $icon-eye;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-clock {
    &:before {
        content: $icon-clock;
    }
}
.icon-lock-stroke {
    &:before {
        content: $icon-lock-stroke;
    }
}
.icon-lock-fill {
    &:before {
        content: $icon-lock-fill;
    }
}
.icon-unlock-stroke {
    &:before {
        content: $icon-unlock-stroke;
    }
}
.icon-unlock-fill {
    &:before {
        content: $icon-unlock-fill;
    }
}
.icon-tag-stroke {
    &:before {
        content: $icon-tag-stroke;
    }
}
.icon-tag-fill {
    &:before {
        content: $icon-tag-fill;
    }
}
.icon-sun-stroke {
    &:before {
        content: $icon-sun-stroke;
    }
}
.icon-sun-fill {
    &:before {
        content: $icon-sun-fill;
    }
}
.icon-moon-stroke {
    &:before {
        content: $icon-moon-stroke;
    }
}
.icon-moon-fill {
    &:before {
        content: $icon-moon-fill;
    }
}
.icon-cloud {
    &:before {
        content: $icon-cloud;
    }
}
.icon-rain {
    &:before {
        content: $icon-rain;
    }
}
.icon-umbrella {
    &:before {
        content: $icon-umbrella;
    }
}
.icon-star {
    &:before {
        content: $icon-star;
    }
}
.icon-map-pin-stroke {
    &:before {
        content: $icon-map-pin-stroke;
    }
}
.icon-map-pin-fill {
    &:before {
        content: $icon-map-pin-fill;
    }
}
.icon-map-pin-alt {
    &:before {
        content: $icon-map-pin-alt;
    }
}
.icon-target {
    &:before {
        content: $icon-target;
    }
}
.icon-download {
    &:before {
        content: $icon-download;
    }
}
.icon-upload {
    &:before {
        content: $icon-upload;
    }
}
.icon-cloud-download {
    &:before {
        content: $icon-cloud-download;
    }
}
.icon-cloud-upload {
    &:before {
        content: $icon-cloud-upload;
    }
}
.icon-fork {
    &:before {
        content: $icon-fork;
    }
}
.icon-paperclip {
    &:before {
        content: $icon-paperclip;
    }
}

