$icomoon-font-path: "../fonts/iconic" !default;

$icon-chat: "\e900";
$icon-chat-alt-stroke: "\e901";
$icon-chat-alt-fill: "\e902";
$icon-comment-alt1-stroke: "\e903";
$icon-comment: "\e904";
$icon-comment-stroke: "\e905";
$icon-comment-fill: "\e906";
$icon-comment-alt2-stroke: "\e907";
$icon-comment-alt2-fill: "\e908";
$icon-checkmark: "\e909";
$icon-check-alt: "\e90a";
$icon-x: "\e90b";
$icon-x-altx-alt: "\e90c";
$icon-denied: "\e90d";
$icon-cursor: "\e90e";
$icon-rss: "\e90f";
$icon-rss-alt: "\e910";
$icon-wrench: "\e911";
$icon-dial: "\e912";
$icon-cog: "\e913";
$icon-calendar: "\e914";
$icon-calendar-alt-stroke: "\e915";
$icon-calendar-alt-fill: "\e916";
$icon-share: "\e917";
$icon-mail: "\e918";
$icon-heart-stroke: "\e919";
$icon-heart-fill: "\e91a";
$icon-movie: "\e91b";
$icon-document-alt-stroke: "\e91c";
$icon-document-alt-fill: "\e91d";
$icon-document-stroke: "\e91e";
$icon-document-fill: "\e91f";
$icon-plus: "\e920";
$icon-plus-alt: "\e921";
$icon-minus: "\e922";
$icon-minus-alt: "\e923";
$icon-pin: "\e924";
$icon-link: "\e925";
$icon-bolt: "\e926";
$icon-move: "\e927";
$icon-move-alt1: "\e928";
$icon-move-alt2: "\e929";
$icon-equalizer: "\e92a";
$icon-award-fill: "\e92b";
$icon-award-stroke: "\e92c";
$icon-magnifying-glass: "\e92d";
$icon-trash-stroke: "\e92e";
$icon-trash-fill: "\e92f";
$icon-beaker-alt: "\e930";
$icon-beaker: "\e931";
$icon-key-stroke: "\e932";
$icon-key-fill: "\e933";
$icon-new-window: "\e934";
$icon-lightbulb: "\e935";
$icon-spin-alt: "\e936";
$icon-spin: "\e937";
$icon-curved-arrow: "\e938";
$icon-undo: "\e939";
$icon-reload: "\e93a";
$icon-reload-alt: "\e93b";
$icon-loop: "\e93c";
$icon-loop-alt1: "\e93d";
$icon-loop-alt2: "\e93e";
$icon-loop-alt3: "\e93f";
$icon-loop-alt4: "\e940";
$icon-transfer: "\e941";
$icon-move-vertical: "\e942";
$icon-move-vertical-alt1: "\e943";
$icon-move-vertical-alt2: "\e944";
$icon-move-horizontal: "\e945";
$icon-move-horizontal-alt1: "\e946";
$icon-move-horizontal-alt2: "\e947";
$icon-arrow-left: "\e948";
$icon-arrow-left-alt1: "\e949";
$icon-arrow-left-alt2: "\e94a";
$icon-arrow-right: "\e94b";
$icon-arrow-right-alt1: "\e94c";
$icon-arrow-right-alt2: "\e94d";
$icon-arrow-up: "\e94e";
$icon-arrow-up-alt1: "\e94f";
$icon-arrow-up-alt2: "\e950";
$icon-arrow-down: "\e951";
$icon-arrow-down-alt1: "\e952";
$icon-arrow-down-alt2: "\e953";
$icon-cd: "\e954";
$icon-steering-wheel: "\e955";
$icon-microphone: "\e956";
$icon-headphones: "\e957";
$icon-volume: "\e958";
$icon-volume-mute: "\e959";
$icon-play: "\e95a";
$icon-pause: "\e95b";
$icon-stop: "\e95c";
$icon-eject: "\e95d";
$icon-first: "\e95e";
$icon-last: "\e95f";
$icon-play-alt: "\e960";
$icon-fullscreen-exit: "\e961";
$icon-fullscreen-exit-alt: "\e962";
$icon-fullscreen: "\e963";
$icon-fullscreen-alt: "\e964";
$icon-iphone: "\e965";
$icon-battery-empty: "\e966";
$icon-battery-half: "\e967";
$icon-battery-full: "\e968";
$icon-battery-charging: "\e969";
$icon-compass: "\e96a";
$icon-box: "\e96b";
$icon-folder-stroke: "\e96c";
$icon-folder-fill: "\e96d";
$icon-at: "\e96e";
$icon-ampersand: "\e96f";
$icon-info: "\e970";
$icon-question-mark: "\e971";
$icon-pilcrow: "\e972";
$icon-hash: "\e973";
$icon-left-quote: "\e974";
$icon-right-quote: "\e975";
$icon-left-quote-alt: "\e976";
$icon-right-quote-alt: "\e977";
$icon-article: "\e978";
$icon-read-more: "\e979";
$icon-list: "\e97a";
$icon-list-nested: "\e97b";
$icon-book: "\e97c";
$icon-book-alt: "\e97d";
$icon-book-alt2: "\e97e";
$icon-pen: "\e97f";
$icon-pen-alt-stroke: "\e980";
$icon-pen-alt-fill: "\e981";
$icon-pen-alt2: "\e982";
$icon-brush: "\e983";
$icon-brush-alt: "\e984";
$icon-eyedropper: "\e985";
$icon-layers-alt: "\e986";
$icon-layers: "\e987";
$icon-image: "\e988";
$icon-camera: "\e989";
$icon-aperture: "\e98a";
$icon-aperture-alt: "\e98b";
$icon-chart: "\e98c";
$icon-chart-alt: "\e98d";
$icon-bars: "\e98e";
$icon-bars-alt: "\e98f";
$icon-eye: "\e990";
$icon-user: "\e991";
$icon-home: "\e992";
$icon-clock: "\e993";
$icon-lock-stroke: "\e994";
$icon-lock-fill: "\e995";
$icon-unlock-stroke: "\e996";
$icon-unlock-fill: "\e997";
$icon-tag-stroke: "\e998";
$icon-tag-fill: "\e999";
$icon-sun-stroke: "\e99a";
$icon-sun-fill: "\e99b";
$icon-moon-stroke: "\e99c";
$icon-moon-fill: "\e99d";
$icon-cloud: "\e99e";
$icon-rain: "\e99f";
$icon-umbrella: "\e9a0";
$icon-star: "\e9a1";
$icon-map-pin-stroke: "\e9a2";
$icon-map-pin-fill: "\e9a3";
$icon-map-pin-alt: "\e9a4";
$icon-target: "\e9a5";
$icon-download: "\e9a6";
$icon-upload: "\e9a7";
$icon-cloud-download: "\e9a8";
$icon-cloud-upload: "\e9a9";
$icon-fork: "\e9aa";
$icon-paperclip: "\e9ab";

