// ==========================================================================
// LEAGUE-SPARTAN @font-face
// ========================================================================== 
// sass-lint:disable indentation

@font-face {
    font-family: 'league_spartanregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/league_spartan/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../fonts/league_spartan/leaguespartan-bold-webfont.woff') format('woff');
}