// ==========================================================================
// Global Config
// ==========================================================================

// Text
$pe-base-fontsize: 16px;
$pe-base-lineheight: 24px;

// PATH TO ASSETS
$pe-relpath-images: "../img";
$pe-relpath-fonts: "";

// Font Stacks
//$font-url--google: 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$pe-fontfamily-sansserif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$pe-fontfamily-serif: "Times New Roman", serif;

// Font Weights
$pe-fontweight-thin: 100;
$pe-fontweight-light: 300;
$pe-fontweight-medium: 400;
$pe-fontweight-bold: 700;
$pe-fontweight-ultrabold: 900;


// PROED Color Way
$pe-white: #fff;
$pe-black: #000;
$pe-green: #30a387;
$pe-grey: #838383;
$pe-color-primary: #30a387;
$pe-color-accent: #5e274f;
$pe-color-grey: #797e84;
$pe-color-shadow: #505050;


// GRID VARS
// ** Default Suzy Vars **//
$susy: (
    columns: 12,
    gutters: 1 / 4,
    math: fluid, // keeps the container and values fluid (%s)
    output: float,
    gutter-position: inside // Set up margins where they happen
);

$pe-custom-layout: (
    columns: 18,
    gutters: 1 / 3,
    math: fluid, // keeps the container and values fluid (%s)
    output: float,
    gutter-position: split // Set up margins where they happen
);

$pe-grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$pe-container-max-widths: (
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px
) !default;