<div class="checkbox checkbox_size-small">
    <input class="checkbox__input" type="checkbox" id="checkbox_id_small">    
    <label class="checkbox__label" for="checkbox_id_small"><span>Checkbox</span></label>
</div>
<br>
<div class="checkbox">
    <input class="checkbox__input" type="checkbox" id="checkbox_id">    
    <label class="checkbox__label" for="checkbox_id"><span>Checkbox</span></label>
</div>
<br>

<div class="dark-background"> 
    <div class="checkbox checkbox_size-large checkbox_color-invert">
        <input class="checkbox__input" type="checkbox" id="checkbox_id_large">    
        <label class="checkbox__label" for="checkbox_id_large"><span>Checkbox</span></label>
    </div>    
</div>

<div class="checkbox checkbox_size-large">
    <input class="checkbox__input" type="checkbox" id="checkbox_id_large2">    
    <label class="checkbox__label" for="checkbox_id_large2"><span>Checkbox</span></label>
</div>