<form id="checkbox">
    <pe-checkbox 
        :text='checkbox.label'
        :id='checkbox.ID'
        :classes='checkbox.class'
        :formvalue='checkbox.value'
        v-model.lazy="checked">
    </pe-checkbox>    
    <pe-checkbox 
        :text='otherCheckbox.label'
        :id='otherCheckbox.ID'
        :classes='otherCheckbox.class'
        :formvalue='otherCheckbox.value'
        v-model.lazy="checked">
    </pe-checkbox>
    <pe-checkbox 
        :text='thirdCheckbox.label'
        :id='thirdCheckbox.ID'
        :classes='thirdCheckbox.class'
        :formvalue='thirdCheckbox.value'
        v-model.lazy="checked">
    </pe-checkbox>
    <!--\{{checked}}-->
</form>

<script>
var checkbox = {{{json checkbox}}};
var otherCheckbox = {{{json otherCheckbox}}};
var thirdCheckbox = {{{json thirdCheckbox}}};

requirejs(['vue', 'atoms/Checkbox'], function (Vue, Checkbox) {
    new Vue({
        el:"#checkbox",
        data: function () {
            return {
                checkbox: checkbox,
                otherCheckbox: otherCheckbox,
                thirdCheckbox: thirdCheckbox,
                checked: []
            }
        },
        watch: {
            checked: function (newValue) {
                if (newValue.charAt(newValue.length-1) == "*") {
                    this.checked = [];
                } else {
                    this.checked = newValue;
                }
            }
        },
        components: {
            'pe-checkbox': Checkbox.default
        }
    });
    // Vue.component('pe-checkbox-menu', CheckboxMenu.default);
});
</script>