<div class="checkbox checkbox-size-small">
    <input class="checkbox__input" type="checkbox" id="checkbox_id_small">    
    <label class="checkbox__label" for="checkbox_id_small"></label>
</div>

<div class="checkbox">
    <input class="checkbox__input" type="checkbox" id="checkbox_id">    
    <label class="checkbox__label" for="checkbox_id"></label>
</div>

<div class="checkbox checkbox-size-large">
    <input class="checkbox__input" type="checkbox" id="checkbox_id_large">    
    <label class="checkbox__label" for="checkbox_id_large"></label>
</div>