<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script type="text/javascript" src="/js/checkbox.js"></script>

<form id="checkbox">
    <pe-checkbox 
    :text='checkbox.label'
    :id='checkbox.ID'
    :classes='checkbox.class'
    :formvalue='checkbox.value'
    v-model="checked">
    </pe-checkbox>
    <pe-checkbox 
    :text='otherCheckbox.label'
    :id='otherCheckbox.ID'
    :classes='otherCheckbox.class'
    :formvalue='otherCheckbox.value'
    v-model="checked">
    </pe-checkbox>
    \{{totalChecked}}
</form>

<script>
var checkbox = {{{json checkbox}}};
var otherCheckbox = {{{json otherCheckbox }}};
new Vue({
    el: "#checkbox",
    data: {
        checkbox: checkbox,
        otherCheckbox: otherCheckbox,
        checked: [],
        totalChecked: []
    },
    watch: {
        checked: function (val) {
            var newVal = "";
            if (val.charAt(val.length-1) == "*") {
                newVal = val.substring(0, val.length - 1);
                var index = this.totalChecked.indexOf(newVal);                
                if (index > -1) {
                    this.totalChecked.splice(index, 1);
                }
            } else {
                this.totalChecked.push(val);
            }              
        }
    },
    components: {
        'pe-checkbox': checkboxComponent
    }
});
</script>