<form id="checkbox">
    <pe-checkbox 
    :text='checkbox.label'
    :id='checkbox.ID'
    :classes='checkbox.class'
    :formvalue='checkbox.value'
    v-model="checked">
    </pe-checkbox>
    \{{checked}}
</form>

<script>
var checkbox = {{{json checkbox}}};
requirejs(['vue', 'atoms/checkbox'], function (Vue, Checkbox) {
    new Vue({
        el:"#checkbox",
        data: function () {
            return {
                checkbox: checkbox,
                checked: ""
            }
        },
        watch: {
            checked: function (newValue) {
                if (newValue.charAt(newValue.length-1) == "*") {
                    this.checked = "";
                } else {
                    this.checked = newValue;
                }
            }
        },
        components: {
            'pe-checkbox': Checkbox.default
        }
    });
    // Vue.component('pe-checkbox-menu', CheckboxMenu.default);
});
</script>