<form id="radio">
    <pe-radio 
        :text='radio.label'
        :id='radio.ID'
        :classes='radio.class'
        :formvalue='radio.value'
        formname='radio-form'
        v-model.lazy="selected">
    </pe-radio>
    <pe-radio 
        :text='radio2.label'
        :id='radio2.ID'
        :classes='radio2.class'
        :formvalue='radio2.value'
        formname='radio-form'
        v-model.lazy="selected">
    </pe-radio>
    <!--\{{selected}}-->
</form>

<script>
const radio = {{{json radio}}};
const radio2 = {{{json radio2}}};

requirejs(['vue', 'atoms/Radio'], function (Vue, Radio) {
    console.log(Radio.default);
    new Vue({
        el: "#radio",
        data: function () {
            return {
                selected: [], 
                radio: radio,
                radio2: radio2
            }
        },
        components: {
            'pe-radio': Radio.default
        }
    });
});
</script>