<div class="radio radio-size-xsmall">
    <input class="radio__input" type="radio" id="a-option" name="selector">
    <div class="radio__fill"></div>
    <label class="radio__label" for="a-option">Radio Button</label>
</div>
    
<div class="radio radio-size-small">
    <input class="radio__input" type="radio" id="b-option" name="selector">
    <div class="radio__fill"></div>
    <label class="radio__label" for="b-option">Radio Button</label>
</div>

<div class="radio">
    <input class="radio__input" type="radio" id="c-option" name="selector" checked>
    <div class="radio__fill"></div>
    <label class="radio__label" for="c-option">Radio Button</label>
</div>

<div class="radio radio-size-medium">
    <input class="radio__input" type="radio" id="d-option" name="selector">
    <div class="radio__fill"></div>
    <label class="radio__label" for="d-option">Radio Button</label>
</div>

<div class="radio radio-size-large">
    <input class="radio__input" type="radio" id="e-option" name="selector">
    <div class="radio__fill"></div>
    <label class="radio__label" for="e-option">Radio Button</label>
</div>