<div class="text-input">
    <input type="text" class="text-input__input" placeholder="Text Input" pattern=".{2,}" required>
    <div class="text-input__border"></div>
</div>
<br>
<div class="dark-background">
    <div class="text-input text-input_color-invert">
        <input type="text" class="text-input__input" placeholder="Text Input" pattern=".{2,}" required>
        <div class="text-input__border"></div>
    </div>
</div>