<form id="text-input">
    <pe-text-input
    :classes="textInput.class"
    :placeholder="textInput.placeHolder"
    v-model="Value"
    >
    </pe-text-input>
    <!--\{{Value}}-->
</form>

<script>
    const textInput = {{{json textInput}}};
    console.log(textInput);
    requirejs(['vue', 'atoms/TextInput'], function (Vue, TextInput) {
        new Vue({
            el: '#text-input',
            data: function () {
                return {
                    textInput: textInput,
                    Value: ""
                }
            },
            components: {
                'pe-text-input': TextInput.default
            }
        });
    });
</script>