<div id="navigation" class=".mobile-nav"> <!-- #navigation >> .mobile-nav -->
    <a href="" id="menuLink" class=".mobile-nav__button"> <!-- .menu-link >> .mobile-nav__menu-button -->
        <span></span>
    </a>
    <div id="menu" class="mobile-nav__sidebar"><!-- .mobile-menu >> .mobile-nav__sidebar -->
        <div class="mobile-nav__menu"><!-- .pure-menu >> .mobile-nav__menu -->
            <a class="mobile-nav__menu-heading" href="">Company</a><!-- .pure-menu-heading >> .mobile-nav__menu-heading -->

            <ul class="mobile-nav__menu-list"> <!-- .pure-menu-list >> .mobile-nav__menu-list -->
                <li class="mobile-nav__menu-item"><a href="" class="mobile-nav__menu-link">Home</a></li><!-- .pure-menu-item >> .mobile-nav__menu-item -->
                <li class="mobile-nav__menu-item"><a href="" class="mobile-nav__menu-link">About</a></li>
                <li class="mobile-nav__menu-item"><a href="" class="mobile-nav__menu-link">Services</a></li>
                <li class="mobile-nav__menu-item"><a href="" class="mobile-nav__menu-link">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div style="color: white; height: 100px; width: 100%; background-color: #123456;">
    Stuff on Page
</div>

<script>
requirejs(['vue', 'molecules/Autocomplete/Autocomplete'], function (Vue, Autocomplete) {
    var layout   = document.getElementById('navigation'),
    menu     = document.getElementById('menu'),
    menuLink = document.getElementById('menuLink');

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/),
            length = classes.length,
            i = 0;

        for(; i < length; i++) {
          if (classes[i] === className) {
            classes.splice(i, 1);
            break;
          }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleAll(e) {
        var active = 'active';

        e.preventDefault();
        toggleClass(layout, active);
        toggleClass(menu, active);
        toggleClass(menuLink, active);
    }

    menuLink.onclick = function (e) {
        toggleAll(e);
    };

    // content.onclick = function(e) {
    //     if (menu.className.indexOf('active') !== -1) {
    //         toggleAll(e);
    //     }
    // };
});
</script>     
<!--{{> molecules-autocomplete }}-->