<div id="navigation" class="">
    <mobile-nav>
      <navbar></navbar>
    </mobile-nav>  
</div>

<div style="height: 100px; width: 100%; background-color: blue;">
    Stuff on Page
</div>

<script>
requirejs([
  'lodash',
  'vue', 
  'molecules/MobileNav/MobileNav', 
  'molecules/Navbar/Navbar'
], function (_, Vue, MobileNav, Navbar) {
    new Vue({
        el: '#navigation',
        data: function () {
            return {}
        },
        components: {
            'mobile-nav': MobileNav.default,
            'navbar': Navbar.default
        }
    });
});
</script>     
<!--{{> molecules-autocomplete }}-->