<div id="pagination" class="block">
    <span class="demonstration">When you have few pages</span>
    <li v-for="animal in shownAnimals">
        \{{ animal.name }}
    </li>
    <pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="currentPage4"
      :page-sizes="[2, 4, 6, 8, 10]"
      :page-size="pageSize"
      layout="->, prev, sizes, pager, jumper, next"
      :total="animals.length">
    </pagination>
<!--
    <pager
        :current-page="5" 
        :page-count="10"
        @change="handleCurrentChange"
        >
    </pager>-->
</div>

<script> 

var animals = {{{json animals}}};

requirejs([
  'lodash',
  'vue', 
  'organisms/Pagination/Pager', 
  'organisms/Pagination/Pagination'
], function (_, Vue, Pager, Pagination) {
    new Vue({
        el: '#pagination',
        data: function () {
            return {
                animals: animals,
                currentPage4: 1,
                pageSize: 4
            }
        },
        components: {
            'pagination': Pagination.default,
            'pager': Pager.default
        },
        computed: {
            shownAnimals: function () {
                var amountPerPage = this.pageSize;
                var startIndex = amountPerPage * (this.currentPage4 - 1);
                var endIndex = amountPerPage * this.currentPage4;
                return _.slice(this.animals, startIndex, endIndex);
            }
        },
        methods: {
            handleSizeChange: function (value) {
                this.pageSize = value;
            },
            handleCurrentChange: function () {

            }
        }
    });
});
</script>